# Preparing data

In [1]:
import pandas as pd 
import matplotlib.pyplot as plt
import numpy as np

## Datasets

We check if the countries in the two different datasets are the same or not.
First of all, we print the intersection of countries, then the ones excluded

In [2]:
gtds = pd.read_csv("Datasets/globalterrorismdb_0718dist.csv", encoding="ISO-8859-1")

/home/laura/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3063: DtypeWarning: Columns (4,6,31,33,61,62,63,76,79,90,92,94,96,114,115,121) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
indicators = pd.read_csv("Datasets/Indicators.csv")

**Intersection of countries**

In [4]:
from functools import reduce
states = reduce(np.intersect1d, ((indicators.CountryName.values), (gtds.country_txt.values)))
states

array(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia',
       'Austria', 'Azerbaijan', 'Bahrain', 'Bangladesh', 'Barbados',
       'Belarus', 'Belgium', 'Belize', 'Benin', 'Bhutan', 'Bolivia',
       'Botswana', 'Brazil', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Canada', 'Central African Republic',
       'Chad', 'Chile', 'China', 'Colombia', 'Comoros', 'Costa Rica',
       'Croatia', 'Cuba', 'Cyprus', 'Czech Republic', 'Denmark',
       'Djibouti', 'Dominica', 'Dominican Republic', 'Ecuador',
       'El Salvador', 'Equatorial Guinea', 'Eritrea', 'Estonia',
       'Ethiopia', 'Fiji', 'Finland', 'France', 'French Polynesia',
       'Gabon', 'Georgia', 'Germany', 'Ghana', 'Greece', 'Grenada',
       'Guatemala', 'Guinea', 'Guinea-Bissau', 'Guyana', 'Haiti',
       'Honduras', 'Hungary', 'Iceland', 'India', 'Indonesia', 'Iraq',
       'Ireland', 'Israel', 'Italy', 'Jamaica', 'Japan', 'Jordan',
       'Kazakhstan', 'Kenya', 'Kosovo', 'Kuwait', 'Latvia', 'Lebanon',
       'Lesotho', 'Liberia', 'Libya', 'Lithuania', 'Luxembourg',
       'Madagascar', 'Malawi', 'Malaysia', 'Maldives', 'Mali', 'Malta',
       'Mauritania', 'Mauritius', 'Mexico', 'Moldova', 'Montenegro',
       'Morocco', 'Mozambique', 'Myanmar', 'Namibia', 'Nepal',
       'Netherlands', 'New Caledonia', 'New Zealand', 'Nicaragua',
       'Niger', 'Nigeria', 'Norway', 'Pakistan', 'Panama',
       'Papua New Guinea', 'Paraguay', 'Peru', 'Philippines', 'Poland',
       'Portugal', 'Qatar', 'Romania', 'Rwanda', 'Saudi Arabia',
       'Senegal', 'Serbia', 'Seychelles', 'Sierra Leone', 'Singapore',
       'Slovak Republic', 'Slovenia', 'Solomon Islands', 'Somalia',
       'South Africa', 'South Sudan', 'Spain', 'Sri Lanka',
       'St. Kitts and Nevis', 'St. Lucia', 'Sudan', 'Suriname',
       'Swaziland', 'Sweden', 'Switzerland', 'Tajikistan', 'Tanzania',
       'Thailand', 'Togo', 'Trinidad and Tobago', 'Tunisia', 'Turkey',
       'Turkmenistan', 'Uganda', 'Ukraine', 'United Arab Emirates',
       'United Kingdom', 'United States', 'Uruguay', 'Uzbekistan',
       'Vanuatu', 'Vietnam', 'Zambia', 'Zimbabwe'], dtype=object)

**Excluded country**

In [5]:
def excluded(lst1, lst2): 
    lst3 = [value for value in lst1 if value not in lst2] 
    return lst3 


lst1 = gtds.country_txt.unique()
lst2 = states
excluded(lst1, lst2)

['East Germany (GDR)',
 'Venezuela',
 'West Germany (FRG)',
 'Egypt',
 'Iran',
 'South Yemen',
 'Taiwan',
 'West Bank and Gaza Strip',
 'Czechoslovakia',
 'South Vietnam',
 'Brunei',
 'Zaire',
 "People's Republic of the Congo",
 'Yugoslavia',
 'North Yemen',
 'Syria',
 'South Korea',
 'Bahamas',
 'Rhodesia',
 'Soviet Union',
 'Western Sahara',
 'Hong Kong',
 'New Hebrides',
 'Guadeloupe',
 'Martinique',
 'Vatican City',
 'French Guiana',
 'Falkland Islands',
 'Laos',
 'Republic of the Congo',
 'Yemen',
 'Russia',
 'Ivory Coast',
 'Bosnia-Herzegovina',
 'Macedonia',
 'Wallis and Futuna',
 'Gambia',
 'North Korea',
 'Macau',
 'Kyrgyzstan',
 'Democratic Republic of the Congo',
 'East Timor',
 'International',
 'Serbia-Montenegro']

Now we replace all the countries that doesn't match with the right name and we discard the others

In [6]:
gtds = gtds.replace(to_replace ='East Germany (GDR)', value ='Germany') 
gtds = gtds.replace(to_replace ='West Germany (FRG)', value ='Germany') 
indicators = indicators.replace(to_replace ='Venezuela, RB', value ='Venezuela') 
indicators = indicators.replace(to_replace ='Egypt, Arab Rep.', value ='Egypt')
indicators = indicators.replace(to_replace ='Iran, Islamic Rep.', value ='Iran')
indicators = indicators.replace(to_replace ='Yemen, Rep.', value ='Yemen')
gtds = gtds.replace(to_replace ='South Yemen', value ='Yemen') 
gtds = gtds.replace(to_replace ='North Yemen', value ='Yemen') 
gtds = gtds.replace(to_replace ='West Bank and Gaza Strip', value ='West Bank and Gaza')
gtds = gtds.replace(to_replace ='South Vietnam', value ='Vietnam')
indicators = indicators.replace(to_replace ='Brunei Darussalam', value ='Brunei')
indicators = indicators.replace(to_replace ='Syrian Arab Republic', value ='Syria')
indicators = indicators.replace(to_replace ='Korea, Rep.', value ='South Korea')
indicators = indicators.replace(to_replace ='Korea, Dem. Rep.', value ='North Korea')
indicators = indicators.replace(to_replace ='Bahamas, The', value ='Bahamas')
indicators = indicators.replace(to_replace ='Sub-Saharan Africa (developing only)', value ='Sahara')
indicators = indicators.replace(to_replace ='Sub-Saharan Africa (all income levels)', value ='Sahara')
gtds = gtds.replace(to_replace ='Western Sahara', value ='Sahara') 
indicators = indicators.replace(to_replace ='Hong Kong SAR, China', value ='Hong Kong')
indicators = indicators.replace(to_replace ='Lao PDR', value ='Laos')
indicators = indicators.replace(to_replace ='Congo, Rep.', value ='Republic of the Congo')
indicators = indicators.replace(to_replace ='Congo, Dem. Rep.', value ='Democratic Republic of the Congo')
indicators = indicators.replace(to_replace ='Russian Federation', value ='Russia')
indicators = indicators.replace(to_replace ='Bosnia and Herzegovina', value ='Bosnia-Herzegovina')
indicators = indicators.replace(to_replace ='Macedonia, FYR', value ='Macedonia')
indicators = indicators.replace(to_replace ='Gambia, The', value ='Gambia')
indicators = indicators.replace(to_replace ='Timor-Leste', value ='East Timor')
indicators = indicators.replace(to_replace ='Macao SAR, China', value ='Macau')
indicators = indicators.replace(to_replace ='Kyrgyz Republic', value ='Kyrgyzstan')

Here is the list of countries that we discard

In [7]:
states1 = reduce(np.intersect1d, ((indicators.CountryName.values), (gtds.country_txt.values)))
lst1 = gtds.country_txt.unique()
lst2 = states1
excluded(lst1, lst2)

['Taiwan',
 'Czechoslovakia',
 'Zaire',
 "People's Republic of the Congo",
 'Yugoslavia',
 'Rhodesia',
 'Soviet Union',
 'New Hebrides',
 'Guadeloupe',
 'Martinique',
 'Vatican City',
 'French Guiana',
 'Falkland Islands',
 'Ivory Coast',
 'Wallis and Futuna',
 'International',
 'Serbia-Montenegro']

### Global Terrorism Dataset

Now we take sub-tables of the dataset to apply the pivoting to each single table and to compute the percentage of the values that we need

In [8]:
ds1 = gtds[['region','region_txt','iyear','ransom']]
ds2 = gtds[['region','region_txt','iyear','nperps']]
ds3 = gtds[['region','region_txt','iyear','targtype1_txt']]
ds4 = gtds[['region','region_txt','iyear','targsubtype1_txt']]
ds5 = gtds[['region','region_txt','iyear','attacktype1_txt']]
ds6 = gtds[['region','region_txt','iyear','nkill','nwound', 'suicide']]

**RANSOM**

The incident involved (or not) a demand of monetary ransom

In [9]:
ransom_count = ds1.groupby(['iyear','region_txt'])['ransom'].agg('count')
ransom_count = pd.DataFrame(ransom_count)
ransom_count = ransom_count.rename(columns={'ransom':'ransom_count'})
print(ransom_count.shape)
ransom_count.head()

(529, 1)

                                   ransom_count
iyear region_txt
1970  Australasia & Oceania                   1
      Central America & Caribbean             7
      East Asia                               2
      Eastern Europe                         12
      Middle East & North Africa             28

In [10]:
ds1 = ds1.groupby(['iyear','region','region_txt'])['ransom'].value_counts()
ds1 = pd.DataFrame(ds1)
ds1 = ds1.rename(columns={'ransom':'counts'})
print(ds1.shape)
ds1.head(20)

(808, 1)

                                                 counts
iyear region region_txt                  ransom
1970  1      North America               0.0        471
                                         1.0          1
      2      Central America & Caribbean 1.0          4
                                         0.0          3
      3      South America               0.0         51
                                         1.0         14
      4      East Asia                   0.0          2
      5      Southeast Asia              0.0         10
      6      South Asia                  0.0          1
      8      Western Europe              0.0         47
                                         1.0          3
      9      Eastern Europe              0.0         12
      10     Middle East & North Africa  0.0         26
                                         1.0          2
      11     Sub-Saharan Africa          0.0          2
                                         1.0          1
      12     Australasia & Oceania       0.0          1
1971  1      North America               0.0        247
      2      Central America & Caribbean 0.0          5
      3      South America               0.0         19

In [11]:
ds1 = ds1.pivot_table(index=['iyear', 'region','region_txt'],columns='ransom',values='counts',fill_value=0)
ds1 = ds1.rename(columns={-9.0:'ransom_Unkn',0.0:'ransom_No',1.0:'ransom_Ok'})
print(ds1.shape)
ds1.head(20)

(476, 3)

ransom                                    ransom_Unkn  ransom_No  ransom_Ok
iyear region region_txt
1970  1      North America                          0        471          1
      2      Central America & Caribbean            0          3          4
      3      South America                          0         51         14
      4      East Asia                              0          2          0
      5      Southeast Asia                         0         10          0
      6      South Asia                             0          1          0
      8      Western Europe                         0         47          3
      9      Eastern Europe                         0         12          0
      10     Middle East & North Africa             0         26          2
      11     Sub-Saharan Africa                     0          2          1
      12     Australasia & Oceania                  0          1          0
1971  1      North America                          0        247          0
      2      Central America & Caribbean            0          5          0
      3      South America                          0         19          5
      4      East Asia                              0          1          0
      5      Southeast Asia                         0          6          0
      8      Western Europe                         0        123          2
      9      Eastern Europe                         0          4          0
      10     Middle East & North Africa             0         51          4
      11     Sub-Saharan Africa                     0          2          0

In [12]:
ds1 = ds1.join(ransom_count, on=['iyear','region_txt'])
ds1

                                          ransom_Unkn  ransom_No  ransom_Ok  \
iyear region region_txt
1970  1      North America                          0        471          1
      2      Central America & Caribbean            0          3          4
      3      South America                          0         51         14
      4      East Asia                              0          2          0
      5      Southeast Asia                         0         10          0
...                                               ...        ...        ...
2017  8      Western Europe                         0          4          0
      9      Eastern Europe                         1          4          0
      10     Middle East & North Africa             6        236          4
      11     Sub-Saharan Africa                    13        258         31
      12     Australasia & Oceania                  0          2          0

                                          ransom_count
iyear region region_txt
1970  1      North America                         472
      2      Central America & Caribbean             7
      3      South America                          65
      4      East Asia                               2
      5      Southeast Asia                         10
...                                                ...
2017  8      Western Europe                          4
      9      Eastern Europe                          5
      10     Middle East & North Africa            246
      11     Sub-Saharan Africa                    302
      12     Australasia & Oceania                   2

[476 rows x 4 columns]

In [13]:
ds1['ran_unk_%'] = ds1['ransom_Unkn']/ds1['ransom_count']
ds1['ran_no_%'] = ds1['ransom_No']/ds1['ransom_count']
ds1['ran_ok_%'] = ds1['ransom_Ok']/ds1['ransom_count']
ds1

                                          ransom_Unkn  ransom_No  ransom_Ok  \
iyear region region_txt
1970  1      North America                          0        471          1
      2      Central America & Caribbean            0          3          4
      3      South America                          0         51         14
      4      East Asia                              0          2          0
      5      Southeast Asia                         0         10          0
...                                               ...        ...        ...
2017  8      Western Europe                         0          4          0
      9      Eastern Europe                         1          4          0
      10     Middle East & North Africa             6        236          4
      11     Sub-Saharan Africa                    13        258         31
      12     Australasia & Oceania                  0          2          0

                                          ransom_count  ran_unk_%  ran_no_%  \
iyear region region_txt
1970  1      North America                         472   0.000000  0.997881
      2      Central America & Caribbean             7   0.000000  0.428571
      3      South America                          65   0.000000  0.784615
      4      East Asia                               2   0.000000  1.000000
      5      Southeast Asia                         10   0.000000  1.000000
...                                                ...        ...       ...
2017  8      Western Europe                          4   0.000000  1.000000
      9      Eastern Europe                          5   0.200000  0.800000
      10     Middle East & North Africa            246   0.024390  0.959350
      11     Sub-Saharan Africa                    302   0.043046  0.854305
      12     Australasia & Oceania                   2   0.000000  1.000000

                                          ran_ok_%
iyear region region_txt
1970  1      North America                0.002119
      2      Central America & Caribbean  0.571429
      3      South America                0.215385
      4      East Asia                    0.000000
      5      Southeast Asia               0.000000
...                                            ...
2017  8      Western Europe               0.000000
      9      Eastern Europe               0.000000
      10     Middle East & North Africa   0.016260
      11     Sub-Saharan Africa           0.102649
      12     Australasia & Oceania        0.000000

[476 rows x 7 columns]

**TARGTYPE_TXT**

In [14]:
targ = ds3.groupby(['targtype1_txt']).agg('count').sort_values(by='region',ascending=False)
dropList = targ.index[12:]
dropList

Index(['Journalists & Media', 'Violent Political Party', 'Airports & Aircraft',
       'Telecommunication', 'NGO', 'Tourists', 'Maritime',
       'Food or Water Supply', 'Abortion Related', 'Other'],
      dtype='object', name='targtype1_txt')

In [15]:
targtype1_count = ds3.groupby(['iyear','region_txt'])['targtype1_txt'].agg('count')
targtype1_count = pd.DataFrame(targtype1_count)
targtype1_count = targtype1_count.rename(columns={'targtype1_txt':'targtype1_count'})
targtype1_count.head()

                                   targtype1_count
iyear region_txt
1970  Australasia & Oceania                      1
      Central America & Caribbean                7
      East Asia                                  2
      Eastern Europe                            12
      Middle East & North Africa                28

In [16]:
ds3 = ds3.groupby(['iyear','region','region_txt'])['targtype1_txt'].value_counts()
ds3 = pd.DataFrame(ds3)
ds3 = ds3.rename(columns={'targtype1_txt':'counts'})
ds3.head(10)

                                                           counts
iyear region region_txt    targtype1_txt
1970  1      North America Business                           101
                           Police                              69
                           Military                            67
                           Government (General)                60
                           Educational Institution             59
                           Private Citizens & Property         44
                           Utilities                           16
                           Government (Diplomatic)             14
                           Religious Figures/Institutions      11
                           NGO                                  8

In [17]:
ds3 = ds3.pivot_table(index=['iyear', 'region','region_txt'],columns='targtype1_txt',values='counts')
ds3 = ds3.drop(dropList,axis=1)
ds3 = ds3.fillna(0)
print(ds3.shape)
ds3.head()

(529, 12)

targtype1_txt                             Business  Educational Institution  \
iyear region region_txt
1970  1      North America                   101.0                     59.0
      2      Central America & Caribbean       2.0                      0.0
      3      South America                    21.0                      2.0
      4      East Asia                         0.0                      0.0
      5      Southeast Asia                    0.0                      0.0

targtype1_txt                             Government (Diplomatic)  \
iyear region region_txt
1970  1      North America                                   14.0
      2      Central America & Caribbean                      3.0
      3      South America                                   13.0
      4      East Asia                                        1.0
      5      Southeast Asia                                   4.0

targtype1_txt                             Government (General)  Military  \
iyear region region_txt
1970  1      North America                                60.0      67.0
      2      Central America & Caribbean                   0.0       1.0
      3      South America                                10.0       4.0
      4      East Asia                                     0.0       0.0
      5      Southeast Asia                                0.0       3.0

targtype1_txt                             Police  Private Citizens & Property  \
iyear region region_txt
1970  1      North America                  69.0                         44.0
      2      Central America & Caribbean     0.0                          1.0
      3      South America                   5.0                          4.0
      4      East Asia                       0.0                          0.0
      5      Southeast Asia                  0.0                          0.0

targtype1_txt                             Religious Figures/Institutions  \
iyear region region_txt
1970  1      North America                                          11.0
      2      Central America & Caribbean                             0.0
      3      South America                                           0.0
      4      East Asia                                               0.0
      5      Southeast Asia                                          0.0

targtype1_txt                             Terrorists/Non-State Militia  \
iyear region region_txt
1970  1      North America                                         2.0
      2      Central America & Caribbean                           0.0
      3      South America                                         0.0
      4      East Asia                                             0.0
      5      Southeast Asia                                        0.0

targtype1_txt                             Transportation  Unknown  Utilities
iyear region region_txt
1970  1      North America                           2.0      4.0       16.0
      2      Central America & Caribbean             0.0      0.0        0.0
      3      South America                           0.0      0.0        0.0
      4      East Asia                               0.0      0.0        0.0
      5      Southeast Asia                          0.0      0.0        0.0

In [18]:
ds3 = ds3.join(targtype1_count, on=['iyear','region_txt'])
inList = dropList = targ.index[:12]
for elem in inList:
    ds3[elem+'_%'] = ds3[elem]/ds3['targtype1_count']
ds3 = ds3.rename(columns={"Unknown":"targtype_unknown"})
ds3 = ds3.rename(columns={"Unknown_%":"targtype_unknown_%"})
ds3

                                          Business  Educational Institution  \
iyear region region_txt
1970  1      North America                   101.0                     59.0
      2      Central America & Caribbean       2.0                      0.0
      3      South America                    21.0                      2.0
      4      East Asia                         0.0                      0.0
      5      Southeast Asia                    0.0                      0.0
...                                            ...                      ...
2017  8      Western Europe                   29.0                      3.0
      9      Eastern Europe                    9.0                      1.0
      10     Middle East & North Africa      275.0                     33.0
      11     Sub-Saharan Africa               99.0                     31.0
      12     Australasia & Oceania             1.0                      3.0

                                          Government (Diplomatic)  \
iyear region region_txt
1970  1      North America                                   14.0
      2      Central America & Caribbean                      3.0
      3      South America                                   13.0
      4      East Asia                                        1.0
      5      Southeast Asia                                   4.0
...                                                           ...
2017  8      Western Europe                                   2.0
      9      Eastern Europe                                   6.0
      10     Middle East & North Africa                      10.0
      11     Sub-Saharan Africa                              62.0
      12     Australasia & Oceania                            0.0

                                          Government (General)  Military  \
iyear region region_txt
1970  1      North America                                60.0      67.0
      2      Central America & Caribbean                   0.0       1.0
      3      South America                                10.0       4.0
      4      East Asia                                     0.0       0.0
      5      Southeast Asia                                0.0       3.0
...                                                        ...       ...
2017  8      Western Europe                               20.0       6.0
      9      Eastern Europe                               13.0      11.0
      10     Middle East & North Africa                  152.0     981.0
      11     Sub-Saharan Africa                          239.0     533.0
      12     Australasia & Oceania                         4.0       0.0

                                          Police  Private Citizens & Property  \
iyear region region_txt
1970  1      North America                  69.0                         44.0
      2      Central America & Caribbean     0.0                          1.0
      3      South America                   5.0                          4.0
      4      East Asia                       0.0                          0.0
      5      Southeast Asia                  0.0                          0.0
...                                          ...                          ...
2017  8      Western Europe                 29.0                        124.0
      9      Eastern Europe                 14.0                         31.0
      10     Middle East & North Africa    349.0                       1191.0
      11     Sub-Saharan Africa            132.0                        649.0
      12     Australasia & Oceania           2.0                          1.0

                                          Religious Figures/Institutions  \
iyear region region_txt
1970  1      North America                                          11.0
      2      Central America & Caribbean                             0.0
      3      South America                                           0.0
      4      East Asia                                               0.0
      5      Southeast Asia                                          0.0
...                                                                  ...
2017  8      Western Europe                                         25.0
      9      Eastern Europe                                          4.0
      10     Middle East & North Africa                             42.0
      11     Sub-Saharan Africa                                     39.0
      12     Australasia & Oceania                                   0.0

                                          Terrorists/Non-State Militia  \
iyear region region_txt
1970  1      North America                                         2.0
      2      Central America & Caribbean                           0.0
      3      South America                                         0.0
      4      East Asia                                             0.0
      5      Southeast Asia                                        0.0
...                                                                ...
2017  8      Western Europe                                        0.0
      9      Eastern Europe                                        0.0
      10     Middle East & North Africa                           92.0
      11     Sub-Saharan Africa                                   40.0
      12     Australasia & Oceania                                 0.0

                                          Transportation  ...  Police_%  \
iyear region region_txt                                   ...
1970  1      North America                           2.0  ...  0.146186
      2      Central America & Caribbean             0.0  ...  0.000000
      3      South America                           0.0  ...  0.076923
      4      East Asia                               0.0  ...  0.000000
      5      Southeast Asia                          0.0  ...  0.000000
...                                                  ...  ...       ...
2017  8      Western Europe                         13.0  ...  0.099656
      9      Eastern Europe                          5.0  ...  0.127273
      10     Middle East & North Africa             23.0  ...  0.092328
      11     Sub-Saharan Africa                     14.0  ...  0.067005
      12     Australasia & Oceania                   0.0  ...  0.166667

                                          Government (General)_%  Business_%  \
iyear region region_txt
1970  1      North America                              0.127119    0.213983
      2      Central America & Caribbean                0.000000    0.285714
      3      South America                              0.153846    0.323077
      4      East Asia                                  0.000000    0.000000
      5      Southeast Asia                             0.000000    0.000000
...                                                          ...         ...
2017  8      Western Europe                             0.068729    0.099656
      9      Eastern Europe                             0.118182    0.081818
      10     Middle East & North Africa                 0.040212    0.072751
      11     Sub-Saharan Africa                         0.121320    0.050254
      12     Australasia & Oceania                      0.333333    0.083333

                                          Transportation_%  Utilities_%  \
iyear region region_txt
1970  1      North America                        0.004237     0.033898
      2      Central America & Caribbean          0.000000     0.000000
      3      South America                        0.000000     0.000000
      4      East Asia                            0.000000     0.000000
      5      Southeast Asia                       0.000000     0.000000
...                                                    ...          ...
2017  8      Western Europe                       0.044674     0.006873
      9      Eastern Europe                       0.045455     0.018182
      10     Middle East & North Africa           0.006085     0.011640
      11     Sub-Saharan Africa                   0.007107     0.003553
      12     Australasia & Oceania                0.000000     0.000000

                                          targtype_unknown_%  \
iyear region region_txt
1970  1      North America                          0.008475
      2      Central America & Caribbean            0.000000
      3      South America                          0.000000
      4      East Asia                              0.000000
      5      Southeast Asia                         0.000000
...                                                      ...
2017  8      Western Europe                         0.103093
      9      Eastern Europe                         0.000000
      10     Middle East & North Africa             0.135714
      11     Sub-Saharan Africa                     0.029949
      12     Australasia & Oceania                  0.000000

                                          Religious Figures/Institutions_%  \
iyear region region_txt
1970  1      North America                                        0.023305
      2      Central America & Caribbean                          0.000000
      3      South America                                        0.000000
      4      East Asia                                            0.000000
      5      Southeast Asia                                       0.000000
...                                                                    ...
2017  8      Western Europe                                       0.085911
      9      Eastern Europe                                       0.036364
      10     Middle East & North Africa                           0.011111
      11     Sub-Saharan Africa                                   0.019797
      12     Australasia & Oceania                                0.000000

                                          Educational Institution_%  \
iyear region region_txt
1970  1      North America                                 0.125000
      2      Central America & Caribbean                   0.000000
      3      South America                                 0.030769
      4      East Asia                                     0.000000
      5      Southeast Asia                                0.000000
...                                                             ...
2017  8      Western Europe                                0.010309
      9      Eastern Europe                                0.009091
      10     Middle East & North Africa                    0.008730
      11     Sub-Saharan Africa                            0.015736
      12     Australasia & Oceania                         0.250000

                                          Government (Diplomatic)_%  \
iyear region region_txt
1970  1      North America                                 0.029661
      2      Central America & Caribbean                   0.428571
      3      South America                                 0.200000
      4      East Asia                                     0.500000
      5      Southeast Asia                                0.400000
...                                                             ...
2017  8      Western Europe                                0.006873
      9      Eastern Europe                                0.054545
      10     Middle East & North Africa                    0.002646
      11     Sub-Saharan Africa                            0.031472
      12     Australasia & Oceania                         0.000000

                                          Terrorists/Non-State Militia_%
iyear region region_txt
1970  1      North America                                      0.004237
      2      Central America & Caribbean                        0.000000
      3      South America                                      0.000000
      4      East Asia                                          0.000000
      5      Southeast Asia                                     0.000000
...                                                                  ...
2017  8      Western Europe                                     0.000000
      9      Eastern Europe                                     0.000000
      10     Middle East & North Africa                         0.024339
      11     Sub-Saharan Africa                                 0.020305
      12     Australasia & Oceania                              0.000000

[529 rows x 25 columns]

**ATTACKTYPE1**

In [19]:
attacktype1_count = ds5.groupby(['iyear','region_txt'])['attacktype1_txt'].agg('count')
attacktype1_count = pd.DataFrame(attacktype1_count)
attacktype1_count = attacktype1_count.rename(columns={'attacktype1_txt':'attacktype1_count'})
attacktype1_count.head()

                                   attacktype1_count
iyear region_txt
1970  Australasia & Oceania                        1
      Central America & Caribbean                  7
      East Asia                                    2
      Eastern Europe                              12
      Middle East & North Africa                  28

In [20]:
ds5 = ds5.groupby(['iyear','region','region_txt'])['attacktype1_txt'].value_counts()
ds5 = pd.DataFrame(ds5)
ds5 = ds5.rename(columns={'attacktype1_txt':'counts'})
ds5

                                                                        counts
iyear region region_txt            attacktype1_txt
1970  1      North America         Bombing/Explosion                       278
                                   Facility/Infrastructure Attack          149
                                   Armed Assault                            28
                                   Assassination                             8
                                   Hostage Taking (Kidnapping)               5
...                                                                        ...
2017  12     Australasia & Oceania Armed Assault                             2
                                   Bombing/Explosion                         2
                                   Hostage Taking (Kidnapping)               2
                                   Hostage Taking (Barricade Incident)       1
                                   Unarmed Assault                           1

[3112 rows x 1 columns]

In [21]:
ds5 = ds5.pivot_table(index=['iyear', 'region','region_txt'],columns='attacktype1_txt',values='counts')
ds5 = ds5.fillna(0)
ds5 = ds5.rename(columns = {"Unknown":"attacktype1_unknown"})
ds5

attacktype1_txt                           Armed Assault  Assassination  \
iyear region region_txt
1970  1      North America                         28.0            8.0
      2      Central America & Caribbean            0.0            2.0
      3      South America                         12.0            9.0
      4      East Asia                              0.0            0.0
      5      Southeast Asia                         0.0            1.0
...                                                 ...            ...
2017  8      Western Europe                        62.0            9.0
      9      Eastern Europe                        18.0           14.0
      10     Middle East & North Africa           498.0          125.0
      11     Sub-Saharan Africa                   628.0          181.0
      12     Australasia & Oceania                  2.0            0.0

attacktype1_txt                           Bombing/Explosion  \
iyear region region_txt
1970  1      North America                            278.0
      2      Central America & Caribbean                0.0
      3      South America                             11.0
      4      East Asia                                  0.0
      5      Southeast Asia                             6.0
...                                                     ...
2017  8      Western Europe                            81.0
      9      Eastern Europe                            43.0
      10     Middle East & North Africa              2506.0
      11     Sub-Saharan Africa                       600.0
      12     Australasia & Oceania                      2.0

attacktype1_txt                           Facility/Infrastructure Attack  \
iyear region region_txt
1970  1      North America                                         149.0
      2      Central America & Caribbean                             0.0
      3      South America                                          11.0
      4      East Asia                                               1.0
      5      Southeast Asia                                          0.0
...                                                                  ...
2017  8      Western Europe                                        105.0
      9      Eastern Europe                                         23.0
      10     Middle East & North Africa                             62.0
      11     Sub-Saharan Africa                                     98.0
      12     Australasia & Oceania                                   4.0

attacktype1_txt                           Hijacking  \
iyear region region_txt
1970  1      North America                      2.0
      2      Central America & Caribbean        0.0
      3      South America                      1.0
      4      East Asia                          1.0
      5      Southeast Asia                     0.0
...                                             ...
2017  8      Western Europe                     3.0
      9      Eastern Europe                     0.0
      10     Middle East & North Africa        11.0
      11     Sub-Saharan Africa                20.0
      12     Australasia & Oceania              0.0

attacktype1_txt                           Hostage Taking (Barricade Incident)  \
iyear region region_txt
1970  1      North America                                                0.0
      2      Central America & Caribbean                                  0.0
      3      South America                                                1.0
      4      East Asia                                                    0.0
      5      Southeast Asia                                               0.0
...                                                                       ...
2017  8      Western Europe                                               2.0
      9      Eastern Europe                                               1.0
      10     Middle East & North Africa                                  13.0
      11     Sub-Saharan Africa                                          21.0
      12     Australasia & Oceania                                        1.0

attacktype1_txt                           Hostage Taking (Kidnapping)  \
iyear region region_txt
1970  1      North America                                        5.0
      2      Central America & Caribbean                          5.0
      3      South America                                       19.0
      4      East Asia                                            0.0
      5      Southeast Asia                                       0.0
...                                                               ...
2017  8      Western Europe                                       1.0
      9      Eastern Europe                                       4.0
      10     Middle East & North Africa                         226.0
      11     Sub-Saharan Africa                                 266.0
      12     Australasia & Oceania                                2.0

attacktype1_txt                           Unarmed Assault  attacktype1_unknown
iyear region region_txt
1970  1      North America                            2.0                  0.0
      2      Central America & Caribbean              0.0                  0.0
      3      South America                            0.0                  1.0
      4      East Asia                                0.0                  0.0
      5      Southeast Asia                           0.0                  3.0
...                                                   ...                  ...
2017  8      Western Europe                          23.0                  5.0
      9      Eastern Europe                           5.0                  2.0
      10     Middle East & North Africa              12.0                327.0
      11     Sub-Saharan Africa                      10.0                146.0
      12     Australasia & Oceania                    1.0                  0.0

[529 rows x 9 columns]

In [22]:
ds5 = ds5.join(attacktype1_count, on=['iyear','region_txt'])
ds5

                                          Armed Assault  Assassination  \
iyear region region_txt
1970  1      North America                         28.0            8.0
      2      Central America & Caribbean            0.0            2.0
      3      South America                         12.0            9.0
      4      East Asia                              0.0            0.0
      5      Southeast Asia                         0.0            1.0
...                                                 ...            ...
2017  8      Western Europe                        62.0            9.0
      9      Eastern Europe                        18.0           14.0
      10     Middle East & North Africa           498.0          125.0
      11     Sub-Saharan Africa                   628.0          181.0
      12     Australasia & Oceania                  2.0            0.0

                                          Bombing/Explosion  \
iyear region region_txt
1970  1      North America                            278.0
      2      Central America & Caribbean                0.0
      3      South America                             11.0
      4      East Asia                                  0.0
      5      Southeast Asia                             6.0
...                                                     ...
2017  8      Western Europe                            81.0
      9      Eastern Europe                            43.0
      10     Middle East & North Africa              2506.0
      11     Sub-Saharan Africa                       600.0
      12     Australasia & Oceania                      2.0

                                          Facility/Infrastructure Attack  \
iyear region region_txt
1970  1      North America                                         149.0
      2      Central America & Caribbean                             0.0
      3      South America                                          11.0
      4      East Asia                                               1.0
      5      Southeast Asia                                          0.0
...                                                                  ...
2017  8      Western Europe                                        105.0
      9      Eastern Europe                                         23.0
      10     Middle East & North Africa                             62.0
      11     Sub-Saharan Africa                                     98.0
      12     Australasia & Oceania                                   4.0

                                          Hijacking  \
iyear region region_txt
1970  1      North America                      2.0
      2      Central America & Caribbean        0.0
      3      South America                      1.0
      4      East Asia                          1.0
      5      Southeast Asia                     0.0
...                                             ...
2017  8      Western Europe                     3.0
      9      Eastern Europe                     0.0
      10     Middle East & North Africa        11.0
      11     Sub-Saharan Africa                20.0
      12     Australasia & Oceania              0.0

                                          Hostage Taking (Barricade Incident)  \
iyear region region_txt
1970  1      North America                                                0.0
      2      Central America & Caribbean                                  0.0
      3      South America                                                1.0
      4      East Asia                                                    0.0
      5      Southeast Asia                                               0.0
...                                                                       ...
2017  8      Western Europe                                               2.0
      9      Eastern Europe                                               1.0
      10     Middle East & North Africa                                  13.0
      11     Sub-Saharan Africa                                          21.0
      12     Australasia & Oceania                                        1.0

                                          Hostage Taking (Kidnapping)  \
iyear region region_txt
1970  1      North America                                        5.0
      2      Central America & Caribbean                          5.0
      3      South America                                       19.0
      4      East Asia                                            0.0
      5      Southeast Asia                                       0.0
...                                                               ...
2017  8      Western Europe                                       1.0
      9      Eastern Europe                                       4.0
      10     Middle East & North Africa                         226.0
      11     Sub-Saharan Africa                                 266.0
      12     Australasia & Oceania                                2.0

                                          Unarmed Assault  \
iyear region region_txt
1970  1      North America                            2.0
      2      Central America & Caribbean              0.0
      3      South America                            0.0
      4      East Asia                                0.0
      5      Southeast Asia                           0.0
...                                                   ...
2017  8      Western Europe                          23.0
      9      Eastern Europe                           5.0
      10     Middle East & North Africa              12.0
      11     Sub-Saharan Africa                      10.0
      12     Australasia & Oceania                    1.0

                                          attacktype1_unknown  \
iyear region region_txt
1970  1      North America                                0.0
      2      Central America & Caribbean                  0.0
      3      South America                                1.0
      4      East Asia                                    0.0
      5      Southeast Asia                               3.0
...                                                       ...
2017  8      Western Europe                               5.0
      9      Eastern Europe                               2.0
      10     Middle East & North Africa                 327.0
      11     Sub-Saharan Africa                         146.0
      12     Australasia & Oceania                        0.0

                                          attacktype1_count
iyear region region_txt
1970  1      North America                              472
      2      Central America & Caribbean                  7
      3      South America                               65
      4      East Asia                                    2
      5      Southeast Asia                              10
...                                                     ...
2017  8      Western Europe                             291
      9      Eastern Europe                             110
      10     Middle East & North Africa                3780
      11     Sub-Saharan Africa                        1970
      12     Australasia & Oceania                       12

[529 rows x 10 columns]

In [23]:
list_ = ds5.columns[:-1]
for elem in list_:
    ds5[elem+'_%'] = ds5[elem]/ds5['attacktype1_count']
ds5

                                          Armed Assault  Assassination  \
iyear region region_txt
1970  1      North America                         28.0            8.0
      2      Central America & Caribbean            0.0            2.0
      3      South America                         12.0            9.0
      4      East Asia                              0.0            0.0
      5      Southeast Asia                         0.0            1.0
...                                                 ...            ...
2017  8      Western Europe                        62.0            9.0
      9      Eastern Europe                        18.0           14.0
      10     Middle East & North Africa           498.0          125.0
      11     Sub-Saharan Africa                   628.0          181.0
      12     Australasia & Oceania                  2.0            0.0

                                          Bombing/Explosion  \
iyear region region_txt
1970  1      North America                            278.0
      2      Central America & Caribbean                0.0
      3      South America                             11.0
      4      East Asia                                  0.0
      5      Southeast Asia                             6.0
...                                                     ...
2017  8      Western Europe                            81.0
      9      Eastern Europe                            43.0
      10     Middle East & North Africa              2506.0
      11     Sub-Saharan Africa                       600.0
      12     Australasia & Oceania                      2.0

                                          Facility/Infrastructure Attack  \
iyear region region_txt
1970  1      North America                                         149.0
      2      Central America & Caribbean                             0.0
      3      South America                                          11.0
      4      East Asia                                               1.0
      5      Southeast Asia                                          0.0
...                                                                  ...
2017  8      Western Europe                                        105.0
      9      Eastern Europe                                         23.0
      10     Middle East & North Africa                             62.0
      11     Sub-Saharan Africa                                     98.0
      12     Australasia & Oceania                                   4.0

                                          Hijacking  \
iyear region region_txt
1970  1      North America                      2.0
      2      Central America & Caribbean        0.0
      3      South America                      1.0
      4      East Asia                          1.0
      5      Southeast Asia                     0.0
...                                             ...
2017  8      Western Europe                     3.0
      9      Eastern Europe                     0.0
      10     Middle East & North Africa        11.0
      11     Sub-Saharan Africa                20.0
      12     Australasia & Oceania              0.0

                                          Hostage Taking (Barricade Incident)  \
iyear region region_txt
1970  1      North America                                                0.0
      2      Central America & Caribbean                                  0.0
      3      South America                                                1.0
      4      East Asia                                                    0.0
      5      Southeast Asia                                               0.0
...                                                                       ...
2017  8      Western Europe                                               2.0
      9      Eastern Europe                                               1.0
      10     Middle East & North Africa                                  13.0
      11     Sub-Saharan Africa                                          21.0
      12     Australasia & Oceania                                        1.0

                                          Hostage Taking (Kidnapping)  \
iyear region region_txt
1970  1      North America                                        5.0
      2      Central America & Caribbean                          5.0
      3      South America                                       19.0
      4      East Asia                                            0.0
      5      Southeast Asia                                       0.0
...                                                               ...
2017  8      Western Europe                                       1.0
      9      Eastern Europe                                       4.0
      10     Middle East & North Africa                         226.0
      11     Sub-Saharan Africa                                 266.0
      12     Australasia & Oceania                                2.0

                                          Unarmed Assault  \
iyear region region_txt
1970  1      North America                            2.0
      2      Central America & Caribbean              0.0
      3      South America                            0.0
      4      East Asia                                0.0
      5      Southeast Asia                           0.0
...                                                   ...
2017  8      Western Europe                          23.0
      9      Eastern Europe                           5.0
      10     Middle East & North Africa              12.0
      11     Sub-Saharan Africa                      10.0
      12     Australasia & Oceania                    1.0

                                          attacktype1_unknown  \
iyear region region_txt
1970  1      North America                                0.0
      2      Central America & Caribbean                  0.0
      3      South America                                1.0
      4      East Asia                                    0.0
      5      Southeast Asia                               3.0
...                                                       ...
2017  8      Western Europe                               5.0
      9      Eastern Europe                               2.0
      10     Middle East & North Africa                 327.0
      11     Sub-Saharan Africa                         146.0
      12     Australasia & Oceania                        0.0

                                          attacktype1_count  Armed Assault_%  \
iyear region region_txt
1970  1      North America                              472         0.059322
      2      Central America & Caribbean                  7         0.000000
      3      South America                               65         0.184615
      4      East Asia                                    2         0.000000
      5      Southeast Asia                              10         0.000000
...                                                     ...              ...
2017  8      Western Europe                             291         0.213058
      9      Eastern Europe                             110         0.163636
      10     Middle East & North Africa                3780         0.131746
      11     Sub-Saharan Africa                        1970         0.318782
      12     Australasia & Oceania                       12         0.166667

                                          Assassination_%  \
iyear region region_txt
1970  1      North America                       0.016949
      2      Central America & Caribbean         0.285714
      3      South America                       0.138462
      4      East Asia                           0.000000
      5      Southeast Asia                      0.100000
...                                                   ...
2017  8      Western Europe                      0.030928
      9      Eastern Europe                      0.127273
      10     Middle East & North Africa          0.033069
      11     Sub-Saharan Africa                  0.091878
      12     Australasia & Oceania               0.000000

                                          Bombing/Explosion_%  \
iyear region region_txt
1970  1      North America                           0.588983
      2      Central America & Caribbean             0.000000
      3      South America                           0.169231
      4      East Asia                               0.000000
      5      Southeast Asia                          0.600000
...                                                       ...
2017  8      Western Europe                          0.278351
      9      Eastern Europe                          0.390909
      10     Middle East & North Africa              0.662963
      11     Sub-Saharan Africa                      0.304569
      12     Australasia & Oceania                   0.166667

                                          Facility/Infrastructure Attack_%  \
iyear region region_txt
1970  1      North America                                        0.315678
      2      Central America & Caribbean                          0.000000
      3      South America                                        0.169231
      4      East Asia                                            0.500000
      5      Southeast Asia                                       0.000000
...                                                                    ...
2017  8      Western Europe                                       0.360825
      9      Eastern Europe                                       0.209091
      10     Middle East & North Africa                           0.016402
      11     Sub-Saharan Africa                                   0.049746
      12     Australasia & Oceania                                0.333333

                                          Hijacking_%  \
iyear region region_txt
1970  1      North America                   0.004237
      2      Central America & Caribbean     0.000000
      3      South America                   0.015385
      4      East Asia                       0.500000
      5      Southeast Asia                  0.000000
...                                               ...
2017  8      Western Europe                  0.010309
      9      Eastern Europe                  0.000000
      10     Middle East & North Africa      0.002910
      11     Sub-Saharan Africa              0.010152
      12     Australasia & Oceania           0.000000

                                          Hostage Taking (Barricade Incident)_%  \
iyear region region_txt
1970  1      North America                                             0.000000
      2      Central America & Caribbean                               0.000000
      3      South America                                             0.015385
      4      East Asia                                                 0.000000
      5      Southeast Asia                                            0.000000
...                                                                         ...
2017  8      Western Europe                                            0.006873
      9      Eastern Europe                                            0.009091
      10     Middle East & North Africa                                0.003439
      11     Sub-Saharan Africa                                        0.010660
      12     Australasia & Oceania                                     0.083333

                                          Hostage Taking (Kidnapping)_%  \
iyear region region_txt
1970  1      North America                                     0.010593
      2      Central America & Caribbean                       0.714286
      3      South America                                     0.292308
      4      East Asia                                         0.000000
      5      Southeast Asia                                    0.000000
...                                                                 ...
2017  8      Western Europe                                    0.003436
      9      Eastern Europe                                    0.036364
      10     Middle East & North Africa                        0.059788
      11     Sub-Saharan Africa                                0.135025
      12     Australasia & Oceania                             0.166667

                                          Unarmed Assault_%  \
iyear region region_txt
1970  1      North America                         0.004237
      2      Central America & Caribbean           0.000000
      3      South America                         0.000000
      4      East Asia                             0.000000
      5      Southeast Asia                        0.000000
...                                                     ...
2017  8      Western Europe                        0.079038
      9      Eastern Europe                        0.045455
      10     Middle East & North Africa            0.003175
      11     Sub-Saharan Africa                    0.005076
      12     Australasia & Oceania                 0.083333

                                          attacktype1_unknown_%
iyear region region_txt
1970  1      North America                             0.000000
      2      Central America & Caribbean               0.000000
      3      South America                             0.015385
      4      East Asia                                 0.000000
      5      Southeast Asia                            0.300000
...                                                         ...
2017  8      Western Europe                            0.017182
      9      Eastern Europe                            0.018182
      10     Middle East & North Africa                0.086508
      11     Sub-Saharan Africa                        0.074112
      12     Australasia & Oceania                     0.000000

[529 rows x 19 columns]

**NKILL NWOUND**

In [24]:
attack_count = ds6.groupby(['iyear','region_txt'])['region_txt'].agg('count')
attack_count = pd.DataFrame(attack_count)
attack_count = attack_count.rename(columns={'region_txt':'attack_count'})
attack_count.head()

                                   attack_count
iyear region_txt
1970  Australasia & Oceania                   1
      Central America & Caribbean             7
      East Asia                               2
      Eastern Europe                         12
      Middle East & North Africa             28

In [25]:
ds6 = ds6.groupby(['iyear','region','region_txt']).agg('sum')
ds6 = pd.DataFrame(ds6)
ds6

                                            nkill  nwound  suicide
iyear region region_txt
1970  1      North America                   34.0   160.0        0
      2      Central America & Caribbean      3.0     0.0        0
      3      South America                   11.0     4.0        0
      4      East Asia                        0.0     0.0        0
      5      Southeast Asia                  41.0    13.0        0
...                                           ...     ...      ...
2017  8      Western Europe                  83.0   509.0        6
      9      Eastern Europe                 101.0   183.0        5
      10     Middle East & North Africa   10819.0  8392.0      449
      11     Sub-Saharan Africa            6712.0  4617.0      206
      12     Australasia & Oceania            4.0    24.0        1

[529 rows x 3 columns]

In [26]:
ds6 = ds6.join(attack_count, on=['iyear','region_txt'])
ds6

                                            nkill  nwound  suicide  \
iyear region region_txt
1970  1      North America                   34.0   160.0        0
      2      Central America & Caribbean      3.0     0.0        0
      3      South America                   11.0     4.0        0
      4      East Asia                        0.0     0.0        0
      5      Southeast Asia                  41.0    13.0        0
...                                           ...     ...      ...
2017  8      Western Europe                  83.0   509.0        6
      9      Eastern Europe                 101.0   183.0        5
      10     Middle East & North Africa   10819.0  8392.0      449
      11     Sub-Saharan Africa            6712.0  4617.0      206
      12     Australasia & Oceania            4.0    24.0        1

                                          attack_count
iyear region region_txt
1970  1      North America                         472
      2      Central America & Caribbean             7
      3      South America                          65
      4      East Asia                               2
      5      Southeast Asia                         10
...                                                ...
2017  8      Western Europe                        291
      9      Eastern Europe                        110
      10     Middle East & North Africa           3780
      11     Sub-Saharan Africa                   1970
      12     Australasia & Oceania                  12

[529 rows x 4 columns]

In [27]:
ds6['nkill_%'] = ds6['nkill']/ds6['attack_count']
ds6['nwound_%'] = ds6['nwound']/ds6['attack_count']
ds6['suicide_%'] = ds6['suicide']/ds6['attack_count']
ds6.head(20)

                                          nkill  nwound  suicide  \
iyear region region_txt
1970  1      North America                 34.0   160.0        0
      2      Central America & Caribbean    3.0     0.0        0
      3      South America                 11.0     4.0        0
      4      East Asia                      0.0     0.0        0
      5      Southeast Asia                41.0    13.0        0
      6      South Asia                     4.0    20.0        0
      8      Western Europe                79.0    10.0        0
      9      Eastern Europe                 0.0     0.0        0
      10     Middle East & North Africa     1.0     5.0        0
      11     Sub-Saharan Africa             1.0     0.0        0
      12     Australasia & Oceania          0.0     0.0        0
1971  1      North America                 20.0    55.0        0
      2      Central America & Caribbean    0.0     0.0        0
      3      South America                  6.0     0.0        0
      4      East Asia                     25.0     0.0        0
      5      Southeast Asia                 2.0    10.0        0
      8      Western Europe               112.0     6.0        0
      9      Eastern Europe                 0.0     0.0        0
      10     Middle East & North Africa     7.0    11.0        0
      11     Sub-Saharan Africa             1.0     0.0        0

                                          attack_count    nkill_%   nwound_%  \
iyear region region_txt
1970  1      North America                         472   0.072034   0.338983
      2      Central America & Caribbean             7   0.428571   0.000000
      3      South America                          65   0.169231   0.061538
      4      East Asia                               2   0.000000   0.000000
      5      Southeast Asia                         10   4.100000   1.300000
      6      South Asia                              1   4.000000  20.000000
      8      Western Europe                         50   1.580000   0.200000
      9      Eastern Europe                         12   0.000000   0.000000
      10     Middle East & North Africa             28   0.035714   0.178571
      11     Sub-Saharan Africa                      3   0.333333   0.000000
      12     Australasia & Oceania                   1   0.000000   0.000000
1971  1      North America                         247   0.080972   0.222672
      2      Central America & Caribbean             5   0.000000   0.000000
      3      South America                          24   0.250000   0.000000
      4      East Asia                               1  25.000000   0.000000
      5      Southeast Asia                          6   0.333333   1.666667
      8      Western Europe                        125   0.896000   0.048000
      9      Eastern Europe                          5   0.000000   0.000000
      10     Middle East & North Africa             55   0.127273   0.200000
      11     Sub-Saharan Africa                      2   0.500000   0.000000

                                          suicide_%
iyear region region_txt
1970  1      North America                      0.0
      2      Central America & Caribbean        0.0
      3      South America                      0.0
      4      East Asia                          0.0
      5      Southeast Asia                     0.0
      6      South Asia                         0.0
      8      Western Europe                     0.0
      9      Eastern Europe                     0.0
      10     Middle East & North Africa         0.0
      11     Sub-Saharan Africa                 0.0
      12     Australasia & Oceania              0.0
1971  1      North America                      0.0
      2      Central America & Caribbean        0.0
      3      South America                      0.0
      4      East Asia                          0.0
      5      Southeast Asia                     0.0
      8      Western Europe                     0.0
      9      Eastern Europe                     0.0
      10     Middle East & North Africa         0.0
      11     Sub-Saharan Africa                 0.0

### Indicators

In [28]:
indicators.head()

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
0,Arab World,ARB,"Adolescent fertility rate (births per 1,000 wo...",SP.ADO.TFRT,1960,1.335609e+02
1,Arab World,ARB,Age dependency ratio (% of working-age populat...,SP.POP.DPND,1960,8.779760e+01
2,Arab World,ARB,"Age dependency ratio, old (% of working-age po...",SP.POP.DPND.OL,1960,6.634579e+00
3,Arab World,ARB,"Age dependency ratio, young (% of working-age ...",SP.POP.DPND.YG,1960,8.102333e+01
4,Arab World,ARB,Arms exports (SIPRI trend indicator values),MS.MIL.XPRT.KD,1960,3.000000e+06

In [29]:
indicators.IndicatorName.unique()

array(['Adolescent fertility rate (births per 1,000 women ages 15-19)',
       'Age dependency ratio (% of working-age population)',
       'Age dependency ratio, old (% of working-age population)', ...,
       'Fish species, threatened', 'Mammal species, threatened',
       'Plant species (higher), threatened'], dtype=object)

**Filtering**

We filter the values of the column *IndicatorName* and we take only the ones that we need *(Hospital beds (per 1,000 people) and Population in urban agglomerations of more than 1 million (% of total population)*, and then we apply the pivoting

In [30]:
filters = ((indicators["IndicatorName"] ==  "Hospital beds (per 1,000 people)") | (indicators["IndicatorName"] ==  "Population in urban agglomerations of more than 1 million (% of total population)"))
indicators1 = indicators[filters]
indicators1 = indicators1[["CountryName", "IndicatorName", "Year", "Value"]]
indicators1 = indicators1.rename(columns={"CountryName":"country_txt"})
indicators1 = indicators1.rename(columns={"Year":"iyear"})
indicators1

,country_txt,IndicatorName,iyear,Value
17,Arab World,"Hospital beds (per 1,000 people)",1960,1.929622
69,Arab World,Population in urban agglomerations of more tha...,1960,14.644958
98,Caribbean small states,"Hospital beds (per 1,000 people)",1960,5.054266
577,Euro area,Population in urban agglomerations of more tha...,1960,15.481384
689,Europe & Central Asia (all income levels),Population in urban agglomerations of more tha...,1960,14.562977
...,...,...,...,...
5639177,Venezuela,Population in urban agglomerations of more tha...,2014,29.210730
5639636,Vietnam,Population in urban agglomerations of more tha...,2014,14.019201
5640403,Yemen,Population in urban agglomerations of more tha...,2014,10.820478
5640930,Zambia,Population in urban agglomerations of more tha...,2014,13.220410
5641520,Zimbabwe,Population in urban agglomerations of more tha...,2014,9.803714

Now we merge the dataset of the indicators with the one of the terrorism in order to have the column of the regions even there

In [31]:
gtds1 = gtds[["country_txt", "region", "region_txt", "iyear"]]
indicators1 = pd.merge(gtds1, indicators1, on=["country_txt", "iyear"])
indicators1 = indicators1.drop_duplicates()
indicators1.head()

,country_txt,region,region_txt,iyear,IndicatorName,Value
0,Dominican Republic,2,Central America & Caribbean,1970,"Hospital beds (per 1,000 people)",2.639400
1,Dominican Republic,2,Central America & Caribbean,1970,Population in urban agglomerations of more tha...,15.249270
4,Mexico,1,North America,1970,Population in urban agglomerations of more tha...,28.176229
6,Philippines,5,Southeast Asia,1970,"Hospital beds (per 1,000 people)",1.189800
7,Philippines,5,Southeast Asia,1970,Population in urban agglomerations of more tha...,10.974357

In order to normalize our indicators we compute the count of them for each region and for each year and then we will divide the sums to these values

In [32]:
urban_count = indicators1[['iyear','region_txt', 'IndicatorName']]
select_ind = (urban_count['IndicatorName'] == 'Population in urban agglomerations of more than 1 million (% of total population)')
urban_count = urban_count[select_ind]
urban_count = urban_count.groupby(['iyear','region_txt']).count()
urban_count = pd.DataFrame(urban_count)
urban_count = urban_count.rename(columns={'IndicatorName':'urban_count'})
urban_count

                                   urban_count
iyear region_txt
1970  Australasia & Oceania                  1
      Central America & Caribbean            2
      East Asia                              1
      Eastern Europe                         1
      Middle East & North Africa             5
...                                        ...
2014  South America                          7
      South Asia                             5
      Southeast Asia                         5
      Sub-Saharan Africa                    20
      Western Europe                        10

[481 rows x 1 columns]

In [33]:
beds_count = indicators1[['iyear','region_txt', 'IndicatorName']]
select_ind = (beds_count['IndicatorName'] == "Hospital beds (per 1,000 people)")
beds_count = beds_count[select_ind]
beds_count = beds_count.groupby(['iyear','region_txt']).count()
beds_count = pd.DataFrame(beds_count)
beds_count = beds_count.rename(columns={'IndicatorName':'beds_count'})
beds_count

                                   beds_count
iyear region_txt
1970  Australasia & Oceania                 1
      Central America & Caribbean           3
      East Asia                             1
      Eastern Europe                        1
      Middle East & North Africa            5
...                                       ...
2012  South America                         5
      South Asia                            3
      Southeast Asia                        3
      Sub-Saharan Africa                    1
      Western Europe                        2

[345 rows x 1 columns]

In [34]:
indicators1 = indicators1.pivot_table(index=['iyear', 'region', 'region_txt'], columns='IndicatorName', aggfunc=np.sum)
indicators1.head(10)

                                                                    Value  \
IndicatorName                            Hospital beds (per 1,000 people)
iyear region region_txt
1970  1      North America                                      14.900000
      2      Central America & Caribbean                         7.090800
      3      South America                                      21.238701
      4      East Asia                                          12.500000
      5      Southeast Asia                                      1.189800
      6      South Asia                                          0.520800
      8      Western Europe                                     50.700001
      9      Eastern Europe                                     11.300000
      10     Middle East & North Africa                         10.786800
      11     Sub-Saharan Africa                                  0.285200


IndicatorName                            Population in urban agglomerations of more than 1 million (% of total population)
iyear region region_txt
1970  1      North America                                                       105.929019
      2      Central America & Caribbean                                          32.160058
      3      South America                                                       218.770317
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357
      6      South Asia                                                           14.189061
      8      Western Europe                                                      165.704776
      9      Eastern Europe                                                        9.136327
      10     Middle East & North Africa                                          125.250649
      11     Sub-Saharan Africa                                                    2.566412

In [35]:
indicators1 = indicators1.join(beds_count, on=['iyear','region_txt'])
indicators1 = indicators1.join(urban_count, on=['iyear','region_txt'])
indicators1 = indicators1.fillna(0)

/home/laura/anaconda3/lib/python3.7/site-packages/pandas/core/reshape/merge.py:618: UserWarning: merging between different levels can give an unintended result (2 levels on the left, 1 on the right)
  warnings.warn(msg, UserWarning)

In [36]:
indicators1['Hospital beds (per 1,000 people)'] = indicators1.take([0], axis=1)
indicators1['Population in urban agglomerations of more than 1 million (percentage of total population)'] = indicators1.take([1], axis=1)
indicators1 = indicators1[['beds_count', 'urban_count', 'Hospital beds (per 1,000 people)', 'Population in urban agglomerations of more than 1 million (percentage of total population)']]
indicators1.head()

                                          beds_count  urban_count  \
iyear region region_txt
1970  1      North America                       2.0          3.0
      2      Central America & Caribbean         3.0          2.0
      3      South America                       6.0          7.0
      4      East Asia                           1.0          1.0
      5      Southeast Asia                      1.0          1.0

                                          Hospital beds (per 1,000 people)  \
iyear region region_txt
1970  1      North America                                       14.900000
      2      Central America & Caribbean                          7.090800
      3      South America                                       21.238701
      4      East Asia                                           12.500000
      5      Southeast Asia                                       1.189800

                                          Population in urban agglomerations of more than 1 million (percentage of total population)
iyear region region_txt
1970  1      North America                                                       105.929019
      2      Central America & Caribbean                                          32.160058
      3      South America                                                       218.770317
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357

In [37]:
indicators1['Population in urban agglomerations of more than 1 million (percentage of total population)_%'] = indicators1['Population in urban agglomerations of more than 1 million (percentage of total population)']/indicators1['urban_count']
indicators1['Hospital beds (per 1,000 people)_%'] = indicators1['Hospital beds (per 1,000 people)']/indicators1['beds_count']
indicators1 = indicators1.groupby(['iyear','region','region_txt'])
indicators1 = indicators1.fillna(0)
indicators1.head()

                                          beds_count  urban_count  \
iyear region region_txt
1970  1      North America                       2.0          3.0
      2      Central America & Caribbean         3.0          2.0
      3      South America                       6.0          7.0
      4      East Asia                           1.0          1.0
      5      Southeast Asia                      1.0          1.0

                                          Hospital beds (per 1,000 people)  \
iyear region region_txt
1970  1      North America                                       14.900000
      2      Central America & Caribbean                          7.090800
      3      South America                                       21.238701
      4      East Asia                                           12.500000
      5      Southeast Asia                                       1.189800

                                          Population in urban agglomerations of more than 1 million (percentage of total population)  \
iyear region region_txt
1970  1      North America                                                       105.929019
      2      Central America & Caribbean                                          32.160058
      3      South America                                                       218.770317
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357

                                          Population in urban agglomerations of more than 1 million (percentage of total population)_%  \
iyear region region_txt
1970  1      North America                                                        35.309673
      2      Central America & Caribbean                                          16.080029
      3      South America                                                        31.252902
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357

                                          Hospital beds (per 1,000 people)_%
iyear region region_txt
1970  1      North America                                          7.450000
      2      Central America & Caribbean                            2.363600
      3      South America                                          3.539783
      4      East Asia                                             12.500000
      5      Southeast Asia                                         1.189800

To verify if they are correct we check the countries of the North America

In [38]:
test = (indicators["Year"] == 1970) & ((indicators["CountryName"] == 'Mexico') | (indicators["CountryName"] == 'United States') | (indicators["CountryName"] == 'Canada')) & (indicators["IndicatorName"] == 'Population in urban agglomerations of more than 1 million (% of total population)')
indicators[test]

,CountryName,CountryCode,IndicatorName,IndicatorCode,Year,Value
314638,Canada,CAN,Population in urban agglomerations of more tha...,EN.URB.MCTY.TL.ZS,1970,36.158455
339235,Mexico,MEX,Population in urban agglomerations of more tha...,EN.URB.MCTY.TL.ZS,1970,28.176229
358150,United States,USA,Population in urban agglomerations of more tha...,EN.URB.MCTY.TL.ZS,1970,41.594336

## JOIN

In [39]:
print(ds1.shape)
print(ds3.shape)
print(ds5.shape)
print(ds6.shape)

(476, 7)
(529, 25)
(529, 19)
(529, 7)

In [40]:
join1 = ds3.join(ds1)
join1

                                          Business  Educational Institution  \
iyear region region_txt
1970  1      North America                   101.0                     59.0
      2      Central America & Caribbean       2.0                      0.0
      3      South America                    21.0                      2.0
      4      East Asia                         0.0                      0.0
      5      Southeast Asia                    0.0                      0.0
...                                            ...                      ...
2017  8      Western Europe                   29.0                      3.0
      9      Eastern Europe                    9.0                      1.0
      10     Middle East & North Africa      275.0                     33.0
      11     Sub-Saharan Africa               99.0                     31.0
      12     Australasia & Oceania             1.0                      3.0

                                          Government (Diplomatic)  \
iyear region region_txt
1970  1      North America                                   14.0
      2      Central America & Caribbean                      3.0
      3      South America                                   13.0
      4      East Asia                                        1.0
      5      Southeast Asia                                   4.0
...                                                           ...
2017  8      Western Europe                                   2.0
      9      Eastern Europe                                   6.0
      10     Middle East & North Africa                      10.0
      11     Sub-Saharan Africa                              62.0
      12     Australasia & Oceania                            0.0

                                          Government (General)  Military  \
iyear region region_txt
1970  1      North America                                60.0      67.0
      2      Central America & Caribbean                   0.0       1.0
      3      South America                                10.0       4.0
      4      East Asia                                     0.0       0.0
      5      Southeast Asia                                0.0       3.0
...                                                        ...       ...
2017  8      Western Europe                               20.0       6.0
      9      Eastern Europe                               13.0      11.0
      10     Middle East & North Africa                  152.0     981.0
      11     Sub-Saharan Africa                          239.0     533.0
      12     Australasia & Oceania                         4.0       0.0

                                          Police  Private Citizens & Property  \
iyear region region_txt
1970  1      North America                  69.0                         44.0
      2      Central America & Caribbean     0.0                          1.0
      3      South America                   5.0                          4.0
      4      East Asia                       0.0                          0.0
      5      Southeast Asia                  0.0                          0.0
...                                          ...                          ...
2017  8      Western Europe                 29.0                        124.0
      9      Eastern Europe                 14.0                         31.0
      10     Middle East & North Africa    349.0                       1191.0
      11     Sub-Saharan Africa            132.0                        649.0
      12     Australasia & Oceania           2.0                          1.0

                                          Religious Figures/Institutions  \
iyear region region_txt
1970  1      North America                                          11.0
      2      Central America & Caribbean                             0.0
      3      South America                                           0.0
      4      East Asia                                               0.0
      5      Southeast Asia                                          0.0
...                                                                  ...
2017  8      Western Europe                                         25.0
      9      Eastern Europe                                          4.0
      10     Middle East & North Africa                             42.0
      11     Sub-Saharan Africa                                     39.0
      12     Australasia & Oceania                                   0.0

                                          Terrorists/Non-State Militia  \
iyear region region_txt
1970  1      North America                                         2.0
      2      Central America & Caribbean                           0.0
      3      South America                                         0.0
      4      East Asia                                             0.0
      5      Southeast Asia                                        0.0
...                                                                ...
2017  8      Western Europe                                        0.0
      9      Eastern Europe                                        0.0
      10     Middle East & North Africa                           92.0
      11     Sub-Saharan Africa                                   40.0
      12     Australasia & Oceania                                 0.0

                                          Transportation  ...  \
iyear region region_txt                                   ...
1970  1      North America                           2.0  ...
      2      Central America & Caribbean             0.0  ...
      3      South America                           0.0  ...
      4      East Asia                               0.0  ...
      5      Southeast Asia                          0.0  ...
...                                                  ...  ...
2017  8      Western Europe                         13.0  ...
      9      Eastern Europe                          5.0  ...
      10     Middle East & North Africa             23.0  ...
      11     Sub-Saharan Africa                     14.0  ...
      12     Australasia & Oceania                   0.0  ...

                                          Educational Institution_%  \
iyear region region_txt
1970  1      North America                                 0.125000
      2      Central America & Caribbean                   0.000000
      3      South America                                 0.030769
      4      East Asia                                     0.000000
      5      Southeast Asia                                0.000000
...                                                             ...
2017  8      Western Europe                                0.010309
      9      Eastern Europe                                0.009091
      10     Middle East & North Africa                    0.008730
      11     Sub-Saharan Africa                            0.015736
      12     Australasia & Oceania                         0.250000

                                          Government (Diplomatic)_%  \
iyear region region_txt
1970  1      North America                                 0.029661
      2      Central America & Caribbean                   0.428571
      3      South America                                 0.200000
      4      East Asia                                     0.500000
      5      Southeast Asia                                0.400000
...                                                             ...
2017  8      Western Europe                                0.006873
      9      Eastern Europe                                0.054545
      10     Middle East & North Africa                    0.002646
      11     Sub-Saharan Africa                            0.031472
      12     Australasia & Oceania                         0.000000

                                          Terrorists/Non-State Militia_%  \
iyear region region_txt
1970  1      North America                                      0.004237
      2      Central America & Caribbean                        0.000000
      3      South America                                      0.000000
      4      East Asia                                          0.000000
      5      Southeast Asia                                     0.000000
...                                                                  ...
2017  8      Western Europe                                     0.000000
      9      Eastern Europe                                     0.000000
      10     Middle East & North Africa                         0.024339
      11     Sub-Saharan Africa                                 0.020305
      12     Australasia & Oceania                              0.000000

                                          ransom_Unkn  ransom_No  ransom_Ok  \
iyear region region_txt
1970  1      North America                        0.0      471.0        1.0
      2      Central America & Caribbean          0.0        3.0        4.0
      3      South America                        0.0       51.0       14.0
      4      East Asia                            0.0        2.0        0.0
      5      Southeast Asia                       0.0       10.0        0.0
...                                               ...        ...        ...
2017  8      Western Europe                       0.0        4.0        0.0
      9      Eastern Europe                       1.0        4.0        0.0
      10     Middle East & North Africa           6.0      236.0        4.0
      11     Sub-Saharan Africa                  13.0      258.0       31.0
      12     Australasia & Oceania                0.0        2.0        0.0

                                          ransom_count  ran_unk_%  ran_no_%  \
iyear region region_txt
1970  1      North America                       472.0   0.000000  0.997881
      2      Central America & Caribbean           7.0   0.000000  0.428571
      3      South America                        65.0   0.000000  0.784615
      4      East Asia                             2.0   0.000000  1.000000
      5      Southeast Asia                       10.0   0.000000  1.000000
...                                                ...        ...       ...
2017  8      Western Europe                        4.0   0.000000  1.000000
      9      Eastern Europe                        5.0   0.200000  0.800000
      10     Middle East & North Africa          246.0   0.024390  0.959350
      11     Sub-Saharan Africa                  302.0   0.043046  0.854305
      12     Australasia & Oceania                 2.0   0.000000  1.000000

                                          ran_ok_%
iyear region region_txt
1970  1      North America                0.002119
      2      Central America & Caribbean  0.571429
      3      South America                0.215385
      4      East Asia                    0.000000
      5      Southeast Asia               0.000000
...                                            ...
2017  8      Western Europe               0.000000
      9      Eastern Europe               0.000000
      10     Middle East & North Africa   0.016260
      11     Sub-Saharan Africa           0.102649
      12     Australasia & Oceania        0.000000

[529 rows x 32 columns]

In [41]:
join2 = ds5.join(ds6)
join2

                                          Armed Assault  Assassination  \
iyear region region_txt
1970  1      North America                         28.0            8.0
      2      Central America & Caribbean            0.0            2.0
      3      South America                         12.0            9.0
      4      East Asia                              0.0            0.0
      5      Southeast Asia                         0.0            1.0
...                                                 ...            ...
2017  8      Western Europe                        62.0            9.0
      9      Eastern Europe                        18.0           14.0
      10     Middle East & North Africa           498.0          125.0
      11     Sub-Saharan Africa                   628.0          181.0
      12     Australasia & Oceania                  2.0            0.0

                                          Bombing/Explosion  \
iyear region region_txt
1970  1      North America                            278.0
      2      Central America & Caribbean                0.0
      3      South America                             11.0
      4      East Asia                                  0.0
      5      Southeast Asia                             6.0
...                                                     ...
2017  8      Western Europe                            81.0
      9      Eastern Europe                            43.0
      10     Middle East & North Africa              2506.0
      11     Sub-Saharan Africa                       600.0
      12     Australasia & Oceania                      2.0

                                          Facility/Infrastructure Attack  \
iyear region region_txt
1970  1      North America                                         149.0
      2      Central America & Caribbean                             0.0
      3      South America                                          11.0
      4      East Asia                                               1.0
      5      Southeast Asia                                          0.0
...                                                                  ...
2017  8      Western Europe                                        105.0
      9      Eastern Europe                                         23.0
      10     Middle East & North Africa                             62.0
      11     Sub-Saharan Africa                                     98.0
      12     Australasia & Oceania                                   4.0

                                          Hijacking  \
iyear region region_txt
1970  1      North America                      2.0
      2      Central America & Caribbean        0.0
      3      South America                      1.0
      4      East Asia                          1.0
      5      Southeast Asia                     0.0
...                                             ...
2017  8      Western Europe                     3.0
      9      Eastern Europe                     0.0
      10     Middle East & North Africa        11.0
      11     Sub-Saharan Africa                20.0
      12     Australasia & Oceania              0.0

                                          Hostage Taking (Barricade Incident)  \
iyear region region_txt
1970  1      North America                                                0.0
      2      Central America & Caribbean                                  0.0
      3      South America                                                1.0
      4      East Asia                                                    0.0
      5      Southeast Asia                                               0.0
...                                                                       ...
2017  8      Western Europe                                               2.0
      9      Eastern Europe                                               1.0
      10     Middle East & North Africa                                  13.0
      11     Sub-Saharan Africa                                          21.0
      12     Australasia & Oceania                                        1.0

                                          Hostage Taking (Kidnapping)  \
iyear region region_txt
1970  1      North America                                        5.0
      2      Central America & Caribbean                          5.0
      3      South America                                       19.0
      4      East Asia                                            0.0
      5      Southeast Asia                                       0.0
...                                                               ...
2017  8      Western Europe                                       1.0
      9      Eastern Europe                                       4.0
      10     Middle East & North Africa                         226.0
      11     Sub-Saharan Africa                                 266.0
      12     Australasia & Oceania                                2.0

                                          Unarmed Assault  \
iyear region region_txt
1970  1      North America                            2.0
      2      Central America & Caribbean              0.0
      3      South America                            0.0
      4      East Asia                                0.0
      5      Southeast Asia                           0.0
...                                                   ...
2017  8      Western Europe                          23.0
      9      Eastern Europe                           5.0
      10     Middle East & North Africa              12.0
      11     Sub-Saharan Africa                      10.0
      12     Australasia & Oceania                    1.0

                                          attacktype1_unknown  \
iyear region region_txt
1970  1      North America                                0.0
      2      Central America & Caribbean                  0.0
      3      South America                                1.0
      4      East Asia                                    0.0
      5      Southeast Asia                               3.0
...                                                       ...
2017  8      Western Europe                               5.0
      9      Eastern Europe                               2.0
      10     Middle East & North Africa                 327.0
      11     Sub-Saharan Africa                         146.0
      12     Australasia & Oceania                        0.0

                                          attacktype1_count  ...  \
iyear region region_txt                                      ...
1970  1      North America                              472  ...
      2      Central America & Caribbean                  7  ...
      3      South America                               65  ...
      4      East Asia                                    2  ...
      5      Southeast Asia                              10  ...
...                                                     ...  ...
2017  8      Western Europe                             291  ...
      9      Eastern Europe                             110  ...
      10     Middle East & North Africa                3780  ...
      11     Sub-Saharan Africa                        1970  ...
      12     Australasia & Oceania                       12  ...

                                          Hostage Taking (Kidnapping)_%  \
iyear region region_txt
1970  1      North America                                     0.010593
      2      Central America & Caribbean                       0.714286
      3      South America                                     0.292308
      4      East Asia                                         0.000000
      5      Southeast Asia                                    0.000000
...                                                                 ...
2017  8      Western Europe                                    0.003436
      9      Eastern Europe                                    0.036364
      10     Middle East & North Africa                        0.059788
      11     Sub-Saharan Africa                                0.135025
      12     Australasia & Oceania                             0.166667

                                          Unarmed Assault_%  \
iyear region region_txt
1970  1      North America                         0.004237
      2      Central America & Caribbean           0.000000
      3      South America                         0.000000
      4      East Asia                             0.000000
      5      Southeast Asia                        0.000000
...                                                     ...
2017  8      Western Europe                        0.079038
      9      Eastern Europe                        0.045455
      10     Middle East & North Africa            0.003175
      11     Sub-Saharan Africa                    0.005076
      12     Australasia & Oceania                 0.083333

                                          attacktype1_unknown_%    nkill  \
iyear region region_txt
1970  1      North America                             0.000000     34.0
      2      Central America & Caribbean               0.000000      3.0
      3      South America                             0.015385     11.0
      4      East Asia                                 0.000000      0.0
      5      Southeast Asia                            0.300000     41.0
...                                                         ...      ...
2017  8      Western Europe                            0.017182     83.0
      9      Eastern Europe                            0.018182    101.0
      10     Middle East & North Africa                0.086508  10819.0
      11     Sub-Saharan Africa                        0.074112   6712.0
      12     Australasia & Oceania                     0.000000      4.0

                                          nwound  suicide  attack_count  \
iyear region region_txt
1970  1      North America                 160.0        0           472
      2      Central America & Caribbean     0.0        0             7
      3      South America                   4.0        0            65
      4      East Asia                       0.0        0             2
      5      Southeast Asia                 13.0        0            10
...                                          ...      ...           ...
2017  8      Western Europe                509.0        6           291
      9      Eastern Europe                183.0        5           110
      10     Middle East & North Africa   8392.0      449          3780
      11     Sub-Saharan Africa           4617.0      206          1970
      12     Australasia & Oceania          24.0        1            12

                                           nkill_%  nwound_%  suicide_%
iyear region region_txt
1970  1      North America                0.072034  0.338983   0.000000
      2      Central America & Caribbean  0.428571  0.000000   0.000000
      3      South America                0.169231  0.061538   0.000000
      4      East Asia                    0.000000  0.000000   0.000000
      5      Southeast Asia               4.100000  1.300000   0.000000
...                                            ...       ...        ...
2017  8      Western Europe               0.285223  1.749141   0.020619
      9      Eastern Europe               0.918182  1.663636   0.045455
      10     Middle East & North Africa   2.862169  2.220106   0.118783
      11     Sub-Saharan Africa           3.407107  2.343655   0.104569
      12     Australasia & Oceania        0.333333  2.000000   0.083333

[529 rows x 26 columns]

In [42]:
join3 = join1.join(indicators1)
join3

                                          Business  Educational Institution  \
iyear region region_txt
1970  1      North America                   101.0                     59.0
      2      Central America & Caribbean       2.0                      0.0
      3      South America                    21.0                      2.0
      4      East Asia                         0.0                      0.0
      5      Southeast Asia                    0.0                      0.0
...                                            ...                      ...
2017  8      Western Europe                   29.0                      3.0
      9      Eastern Europe                    9.0                      1.0
      10     Middle East & North Africa      275.0                     33.0
      11     Sub-Saharan Africa               99.0                     31.0
      12     Australasia & Oceania             1.0                      3.0

                                          Government (Diplomatic)  \
iyear region region_txt
1970  1      North America                                   14.0
      2      Central America & Caribbean                      3.0
      3      South America                                   13.0
      4      East Asia                                        1.0
      5      Southeast Asia                                   4.0
...                                                           ...
2017  8      Western Europe                                   2.0
      9      Eastern Europe                                   6.0
      10     Middle East & North Africa                      10.0
      11     Sub-Saharan Africa                              62.0
      12     Australasia & Oceania                            0.0

                                          Government (General)  Military  \
iyear region region_txt
1970  1      North America                                60.0      67.0
      2      Central America & Caribbean                   0.0       1.0
      3      South America                                10.0       4.0
      4      East Asia                                     0.0       0.0
      5      Southeast Asia                                0.0       3.0
...                                                        ...       ...
2017  8      Western Europe                               20.0       6.0
      9      Eastern Europe                               13.0      11.0
      10     Middle East & North Africa                  152.0     981.0
      11     Sub-Saharan Africa                          239.0     533.0
      12     Australasia & Oceania                         4.0       0.0

                                          Police  Private Citizens & Property  \
iyear region region_txt
1970  1      North America                  69.0                         44.0
      2      Central America & Caribbean     0.0                          1.0
      3      South America                   5.0                          4.0
      4      East Asia                       0.0                          0.0
      5      Southeast Asia                  0.0                          0.0
...                                          ...                          ...
2017  8      Western Europe                 29.0                        124.0
      9      Eastern Europe                 14.0                         31.0
      10     Middle East & North Africa    349.0                       1191.0
      11     Sub-Saharan Africa            132.0                        649.0
      12     Australasia & Oceania           2.0                          1.0

                                          Religious Figures/Institutions  \
iyear region region_txt
1970  1      North America                                          11.0
      2      Central America & Caribbean                             0.0
      3      South America                                           0.0
      4      East Asia                                               0.0
      5      Southeast Asia                                          0.0
...                                                                  ...
2017  8      Western Europe                                         25.0
      9      Eastern Europe                                          4.0
      10     Middle East & North Africa                             42.0
      11     Sub-Saharan Africa                                     39.0
      12     Australasia & Oceania                                   0.0

                                          Terrorists/Non-State Militia  \
iyear region region_txt
1970  1      North America                                         2.0
      2      Central America & Caribbean                           0.0
      3      South America                                         0.0
      4      East Asia                                             0.0
      5      Southeast Asia                                        0.0
...                                                                ...
2017  8      Western Europe                                        0.0
      9      Eastern Europe                                        0.0
      10     Middle East & North Africa                           92.0
      11     Sub-Saharan Africa                                   40.0
      12     Australasia & Oceania                                 0.0

                                          Transportation  ...  ransom_count  \
iyear region region_txt                                   ...
1970  1      North America                           2.0  ...         472.0
      2      Central America & Caribbean             0.0  ...           7.0
      3      South America                           0.0  ...          65.0
      4      East Asia                               0.0  ...           2.0
      5      Southeast Asia                          0.0  ...          10.0
...                                                  ...  ...           ...
2017  8      Western Europe                         13.0  ...           4.0
      9      Eastern Europe                          5.0  ...           5.0
      10     Middle East & North Africa             23.0  ...         246.0
      11     Sub-Saharan Africa                     14.0  ...         302.0
      12     Australasia & Oceania                   0.0  ...           2.0

                                          ran_unk_%  ran_no_%  ran_ok_%  \
iyear region region_txt
1970  1      North America                 0.000000  0.997881  0.002119
      2      Central America & Caribbean   0.000000  0.428571  0.571429
      3      South America                 0.000000  0.784615  0.215385
      4      East Asia                     0.000000  1.000000  0.000000
      5      Southeast Asia                0.000000  1.000000  0.000000
...                                             ...       ...       ...
2017  8      Western Europe                0.000000  1.000000  0.000000
      9      Eastern Europe                0.200000  0.800000  0.000000
      10     Middle East & North Africa    0.024390  0.959350  0.016260
      11     Sub-Saharan Africa            0.043046  0.854305  0.102649
      12     Australasia & Oceania         0.000000  1.000000  0.000000

                                          beds_count  urban_count  \
iyear region region_txt
1970  1      North America                       2.0          3.0
      2      Central America & Caribbean         3.0          2.0
      3      South America                       6.0          7.0
      4      East Asia                           1.0          1.0
      5      Southeast Asia                      1.0          1.0
...                                              ...          ...
2017  8      Western Europe                      NaN          NaN
      9      Eastern Europe                      NaN          NaN
      10     Middle East & North Africa          NaN          NaN
      11     Sub-Saharan Africa                  NaN          NaN
      12     Australasia & Oceania               NaN          NaN

                                          Hospital beds (per 1,000 people)  \
iyear region region_txt
1970  1      North America                                       14.900000
      2      Central America & Caribbean                          7.090800
      3      South America                                       21.238701
      4      East Asia                                           12.500000
      5      Southeast Asia                                       1.189800
...                                                                    ...
2017  8      Western Europe                                            NaN
      9      Eastern Europe                                            NaN
      10     Middle East & North Africa                                NaN
      11     Sub-Saharan Africa                                        NaN
      12     Australasia & Oceania                                     NaN

                                          Population in urban agglomerations of more than 1 million (percentage of total population)  \
iyear region region_txt
1970  1      North America                                                       105.929019
      2      Central America & Caribbean                                          32.160058
      3      South America                                                       218.770317
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357
...                                                                                     ...
2017  8      Western Europe                                                             NaN
      9      Eastern Europe                                                             NaN
      10     Middle East & North Africa                                                 NaN
      11     Sub-Saharan Africa                                                         NaN
      12     Australasia & Oceania                                                      NaN

                                          Population in urban agglomerations of more than 1 million (percentage of total population)_%  \
iyear region region_txt
1970  1      North America                                                        35.309673
      2      Central America & Caribbean                                          16.080029
      3      South America                                                        31.252902
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357
...                                                                                     ...
2017  8      Western Europe                                                             NaN
      9      Eastern Europe                                                             NaN
      10     Middle East & North Africa                                                 NaN
      11     Sub-Saharan Africa                                                         NaN
      12     Australasia & Oceania                                                      NaN

                                          Hospital beds (per 1,000 people)_%
iyear region region_txt
1970  1      North America                                          7.450000
      2      Central America & Caribbean                            2.363600
      3      South America                                          3.539783
      4      East Asia                                             12.500000
      5      Southeast Asia                                         1.189800
...                                                                      ...
2017  8      Western Europe                                              NaN
      9      Eastern Europe                                              NaN
      10     Middle East & North Africa                                  NaN
      11     Sub-Saharan Africa                                          NaN
      12     Australasia & Oceania                                       NaN

[529 rows x 38 columns]

In [43]:
dataset_final = join2.merge(join3, left_index=True, right_index=True)
print(dataset_final.shape)
dataset_final.head()

(529, 64)

                                          Armed Assault  Assassination  \
iyear region region_txt
1970  1      North America                         28.0            8.0
      2      Central America & Caribbean            0.0            2.0
      3      South America                         12.0            9.0
      4      East Asia                              0.0            0.0
      5      Southeast Asia                         0.0            1.0

                                          Bombing/Explosion  \
iyear region region_txt
1970  1      North America                            278.0
      2      Central America & Caribbean                0.0
      3      South America                             11.0
      4      East Asia                                  0.0
      5      Southeast Asia                             6.0

                                          Facility/Infrastructure Attack  \
iyear region region_txt
1970  1      North America                                         149.0
      2      Central America & Caribbean                             0.0
      3      South America                                          11.0
      4      East Asia                                               1.0
      5      Southeast Asia                                          0.0

                                          Hijacking  \
iyear region region_txt
1970  1      North America                      2.0
      2      Central America & Caribbean        0.0
      3      South America                      1.0
      4      East Asia                          1.0
      5      Southeast Asia                     0.0

                                          Hostage Taking (Barricade Incident)  \
iyear region region_txt
1970  1      North America                                                0.0
      2      Central America & Caribbean                                  0.0
      3      South America                                                1.0
      4      East Asia                                                    0.0
      5      Southeast Asia                                               0.0

                                          Hostage Taking (Kidnapping)  \
iyear region region_txt
1970  1      North America                                        5.0
      2      Central America & Caribbean                          5.0
      3      South America                                       19.0
      4      East Asia                                            0.0
      5      Southeast Asia                                       0.0

                                          Unarmed Assault  \
iyear region region_txt
1970  1      North America                            2.0
      2      Central America & Caribbean              0.0
      3      South America                            0.0
      4      East Asia                                0.0
      5      Southeast Asia                           0.0

                                          attacktype1_unknown  \
iyear region region_txt
1970  1      North America                                0.0
      2      Central America & Caribbean                  0.0
      3      South America                                1.0
      4      East Asia                                    0.0
      5      Southeast Asia                               3.0

                                          attacktype1_count  ...  \
iyear region region_txt                                      ...
1970  1      North America                              472  ...
      2      Central America & Caribbean                  7  ...
      3      South America                               65  ...
      4      East Asia                                    2  ...
      5      Southeast Asia                              10  ...

                                          ransom_count  ran_unk_%  ran_no_%  \
iyear region region_txt
1970  1      North America                       472.0        0.0  0.997881
      2      Central America & Caribbean           7.0        0.0  0.428571
      3      South America                        65.0        0.0  0.784615
      4      East Asia                             2.0        0.0  1.000000
      5      Southeast Asia                       10.0        0.0  1.000000

                                          ran_ok_%  beds_count  urban_count  \
iyear region region_txt
1970  1      North America                0.002119         2.0          3.0
      2      Central America & Caribbean  0.571429         3.0          2.0
      3      South America                0.215385         6.0          7.0
      4      East Asia                    0.000000         1.0          1.0
      5      Southeast Asia               0.000000         1.0          1.0

                                          Hospital beds (per 1,000 people)  \
iyear region region_txt
1970  1      North America                                       14.900000
      2      Central America & Caribbean                          7.090800
      3      South America                                       21.238701
      4      East Asia                                           12.500000
      5      Southeast Asia                                       1.189800

                                          Population in urban agglomerations of more than 1 million (percentage of total population)  \
iyear region region_txt
1970  1      North America                                                       105.929019
      2      Central America & Caribbean                                          32.160058
      3      South America                                                       218.770317
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357

                                          Population in urban agglomerations of more than 1 million (percentage of total population)_%  \
iyear region region_txt
1970  1      North America                                                        35.309673
      2      Central America & Caribbean                                          16.080029
      3      South America                                                        31.252902
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357

                                          Hospital beds (per 1,000 people)_%
iyear region region_txt
1970  1      North America                                          7.450000
      2      Central America & Caribbean                            2.363600
      3      South America                                          3.539783
      4      East Asia                                             12.500000
      5      Southeast Asia                                         1.189800

[5 rows x 64 columns]

# Final datasets

In [44]:
cols = [col for col in dataset_final.columns if '%' not in col]
dataset = dataset_final[cols]
dataset = dataset.fillna(0)
dataset.to_csv('Datasets/dataset.csv')
dataset

                                          Armed Assault  Assassination  \
iyear region region_txt
1970  1      North America                         28.0            8.0
      2      Central America & Caribbean            0.0            2.0
      3      South America                         12.0            9.0
      4      East Asia                              0.0            0.0
      5      Southeast Asia                         0.0            1.0
...                                                 ...            ...
2017  8      Western Europe                        62.0            9.0
      9      Eastern Europe                        18.0           14.0
      10     Middle East & North Africa           498.0          125.0
      11     Sub-Saharan Africa                   628.0          181.0
      12     Australasia & Oceania                  2.0            0.0

                                          Bombing/Explosion  \
iyear region region_txt
1970  1      North America                            278.0
      2      Central America & Caribbean                0.0
      3      South America                             11.0
      4      East Asia                                  0.0
      5      Southeast Asia                             6.0
...                                                     ...
2017  8      Western Europe                            81.0
      9      Eastern Europe                            43.0
      10     Middle East & North Africa              2506.0
      11     Sub-Saharan Africa                       600.0
      12     Australasia & Oceania                      2.0

                                          Facility/Infrastructure Attack  \
iyear region region_txt
1970  1      North America                                         149.0
      2      Central America & Caribbean                             0.0
      3      South America                                          11.0
      4      East Asia                                               1.0
      5      Southeast Asia                                          0.0
...                                                                  ...
2017  8      Western Europe                                        105.0
      9      Eastern Europe                                         23.0
      10     Middle East & North Africa                             62.0
      11     Sub-Saharan Africa                                     98.0
      12     Australasia & Oceania                                   4.0

                                          Hijacking  \
iyear region region_txt
1970  1      North America                      2.0
      2      Central America & Caribbean        0.0
      3      South America                      1.0
      4      East Asia                          1.0
      5      Southeast Asia                     0.0
...                                             ...
2017  8      Western Europe                     3.0
      9      Eastern Europe                     0.0
      10     Middle East & North Africa        11.0
      11     Sub-Saharan Africa                20.0
      12     Australasia & Oceania              0.0

                                          Hostage Taking (Barricade Incident)  \
iyear region region_txt
1970  1      North America                                                0.0
      2      Central America & Caribbean                                  0.0
      3      South America                                                1.0
      4      East Asia                                                    0.0
      5      Southeast Asia                                               0.0
...                                                                       ...
2017  8      Western Europe                                               2.0
      9      Eastern Europe                                               1.0
      10     Middle East & North Africa                                  13.0
      11     Sub-Saharan Africa                                          21.0
      12     Australasia & Oceania                                        1.0

                                          Hostage Taking (Kidnapping)  \
iyear region region_txt
1970  1      North America                                        5.0
      2      Central America & Caribbean                          5.0
      3      South America                                       19.0
      4      East Asia                                            0.0
      5      Southeast Asia                                       0.0
...                                                               ...
2017  8      Western Europe                                       1.0
      9      Eastern Europe                                       4.0
      10     Middle East & North Africa                         226.0
      11     Sub-Saharan Africa                                 266.0
      12     Australasia & Oceania                                2.0

                                          Unarmed Assault  \
iyear region region_txt
1970  1      North America                            2.0
      2      Central America & Caribbean              0.0
      3      South America                            0.0
      4      East Asia                                0.0
      5      Southeast Asia                           0.0
...                                                   ...
2017  8      Western Europe                          23.0
      9      Eastern Europe                           5.0
      10     Middle East & North Africa              12.0
      11     Sub-Saharan Africa                      10.0
      12     Australasia & Oceania                    1.0

                                          attacktype1_unknown  \
iyear region region_txt
1970  1      North America                                0.0
      2      Central America & Caribbean                  0.0
      3      South America                                1.0
      4      East Asia                                    0.0
      5      Southeast Asia                               3.0
...                                                       ...
2017  8      Western Europe                               5.0
      9      Eastern Europe                               2.0
      10     Middle East & North Africa                 327.0
      11     Sub-Saharan Africa                         146.0
      12     Australasia & Oceania                        0.0

                                          attacktype1_count  ...  Utilities  \
iyear region region_txt                                      ...
1970  1      North America                              472  ...       16.0
      2      Central America & Caribbean                  7  ...        0.0
      3      South America                               65  ...        0.0
      4      East Asia                                    2  ...        0.0
      5      Southeast Asia                              10  ...        0.0
...                                                     ...  ...        ...
2017  8      Western Europe                             291  ...        2.0
      9      Eastern Europe                             110  ...        2.0
      10     Middle East & North Africa                3780  ...       44.0
      11     Sub-Saharan Africa                        1970  ...        7.0
      12     Australasia & Oceania                       12  ...        0.0

                                          targtype1_count  ransom_Unkn  \
iyear region region_txt
1970  1      North America                            472          0.0
      2      Central America & Caribbean                7          0.0
      3      South America                             65          0.0
      4      East Asia                                  2          0.0
      5      Southeast Asia                            10          0.0
...                                                   ...          ...
2017  8      Western Europe                           291          0.0
      9      Eastern Europe                           110          1.0
      10     Middle East & North Africa              3780          6.0
      11     Sub-Saharan Africa                      1970         13.0
      12     Australasia & Oceania                     12          0.0

                                          ransom_No  ransom_Ok  ransom_count  \
iyear region region_txt
1970  1      North America                    471.0        1.0         472.0
      2      Central America & Caribbean        3.0        4.0           7.0
      3      South America                     51.0       14.0          65.0
      4      East Asia                          2.0        0.0           2.0
      5      Southeast Asia                    10.0        0.0          10.0
...                                             ...        ...           ...
2017  8      Western Europe                     4.0        0.0           4.0
      9      Eastern Europe                     4.0        0.0           5.0
      10     Middle East & North Africa       236.0        4.0         246.0
      11     Sub-Saharan Africa               258.0       31.0         302.0
      12     Australasia & Oceania              2.0        0.0           2.0

                                          beds_count  urban_count  \
iyear region region_txt
1970  1      North America                       2.0          3.0
      2      Central America & Caribbean         3.0          2.0
      3      South America                       6.0          7.0
      4      East Asia                           1.0          1.0
      5      Southeast Asia                      1.0          1.0
...                                              ...          ...
2017  8      Western Europe                      0.0          0.0
      9      Eastern Europe                      0.0          0.0
      10     Middle East & North Africa          0.0          0.0
      11     Sub-Saharan Africa                  0.0          0.0
      12     Australasia & Oceania               0.0          0.0

                                          Hospital beds (per 1,000 people)  \
iyear region region_txt
1970  1      North America                                       14.900000
      2      Central America & Caribbean                          7.090800
      3      South America                                       21.238701
      4      East Asia                                           12.500000
      5      Southeast Asia                                       1.189800
...                                                                    ...
2017  8      Western Europe                                       0.000000
      9      Eastern Europe                                       0.000000
      10     Middle East & North Africa                           0.000000
      11     Sub-Saharan Africa                                   0.000000
      12     Australasia & Oceania                                0.000000

                                          Population in urban agglomerations of more than 1 million (percentage of total population)
iyear region region_txt
1970  1      North America                                                       105.929019
      2      Central America & Caribbean                                          32.160058
      3      South America                                                       218.770317
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357
...                                                                                     ...
2017  8      Western Europe                                                        0.000000
      9      Eastern Europe                                                        0.000000
      10     Middle East & North Africa                                            0.000000
      11     Sub-Saharan Africa                                                    0.000000
      12     Australasia & Oceania                                                 0.000000

[529 rows x 35 columns]

**Dataset with all the percentages**

In [45]:
cols = [col for col in dataset_final.columns if '%' in col]
dataset_perc = dataset_final[cols]
dataset_perc = dataset_perc.fillna(0)
dataset_perc.to_csv('Datasets/dataset_perc.csv')
dataset_perc

                                          Armed Assault_%  Assassination_%  \
iyear region region_txt
1970  1      North America                       0.059322         0.016949
      2      Central America & Caribbean         0.000000         0.285714
      3      South America                       0.184615         0.138462
      4      East Asia                           0.000000         0.000000
      5      Southeast Asia                      0.000000         0.100000
...                                                   ...              ...
2017  8      Western Europe                      0.213058         0.030928
      9      Eastern Europe                      0.163636         0.127273
      10     Middle East & North Africa          0.131746         0.033069
      11     Sub-Saharan Africa                  0.318782         0.091878
      12     Australasia & Oceania               0.166667         0.000000

                                          Bombing/Explosion_%  \
iyear region region_txt
1970  1      North America                           0.588983
      2      Central America & Caribbean             0.000000
      3      South America                           0.169231
      4      East Asia                               0.000000
      5      Southeast Asia                          0.600000
...                                                       ...
2017  8      Western Europe                          0.278351
      9      Eastern Europe                          0.390909
      10     Middle East & North Africa              0.662963
      11     Sub-Saharan Africa                      0.304569
      12     Australasia & Oceania                   0.166667

                                          Facility/Infrastructure Attack_%  \
iyear region region_txt
1970  1      North America                                        0.315678
      2      Central America & Caribbean                          0.000000
      3      South America                                        0.169231
      4      East Asia                                            0.500000
      5      Southeast Asia                                       0.000000
...                                                                    ...
2017  8      Western Europe                                       0.360825
      9      Eastern Europe                                       0.209091
      10     Middle East & North Africa                           0.016402
      11     Sub-Saharan Africa                                   0.049746
      12     Australasia & Oceania                                0.333333

                                          Hijacking_%  \
iyear region region_txt
1970  1      North America                   0.004237
      2      Central America & Caribbean     0.000000
      3      South America                   0.015385
      4      East Asia                       0.500000
      5      Southeast Asia                  0.000000
...                                               ...
2017  8      Western Europe                  0.010309
      9      Eastern Europe                  0.000000
      10     Middle East & North Africa      0.002910
      11     Sub-Saharan Africa              0.010152
      12     Australasia & Oceania           0.000000

                                          Hostage Taking (Barricade Incident)_%  \
iyear region region_txt
1970  1      North America                                             0.000000
      2      Central America & Caribbean                               0.000000
      3      South America                                             0.015385
      4      East Asia                                                 0.000000
      5      Southeast Asia                                            0.000000
...                                                                         ...
2017  8      Western Europe                                            0.006873
      9      Eastern Europe                                            0.009091
      10     Middle East & North Africa                                0.003439
      11     Sub-Saharan Africa                                        0.010660
      12     Australasia & Oceania                                     0.083333

                                          Hostage Taking (Kidnapping)_%  \
iyear region region_txt
1970  1      North America                                     0.010593
      2      Central America & Caribbean                       0.714286
      3      South America                                     0.292308
      4      East Asia                                         0.000000
      5      Southeast Asia                                    0.000000
...                                                                 ...
2017  8      Western Europe                                    0.003436
      9      Eastern Europe                                    0.036364
      10     Middle East & North Africa                        0.059788
      11     Sub-Saharan Africa                                0.135025
      12     Australasia & Oceania                             0.166667

                                          Unarmed Assault_%  \
iyear region region_txt
1970  1      North America                         0.004237
      2      Central America & Caribbean           0.000000
      3      South America                         0.000000
      4      East Asia                             0.000000
      5      Southeast Asia                        0.000000
...                                                     ...
2017  8      Western Europe                        0.079038
      9      Eastern Europe                        0.045455
      10     Middle East & North Africa            0.003175
      11     Sub-Saharan Africa                    0.005076
      12     Australasia & Oceania                 0.083333

                                          attacktype1_unknown_%   nkill_%  \
iyear region region_txt
1970  1      North America                             0.000000  0.072034
      2      Central America & Caribbean               0.000000  0.428571
      3      South America                             0.015385  0.169231
      4      East Asia                                 0.000000  0.000000
      5      Southeast Asia                            0.300000  4.100000
...                                                         ...       ...
2017  8      Western Europe                            0.017182  0.285223
      9      Eastern Europe                            0.018182  0.918182
      10     Middle East & North Africa                0.086508  2.862169
      11     Sub-Saharan Africa                        0.074112  3.407107
      12     Australasia & Oceania                     0.000000  0.333333

                                          ...  targtype_unknown_%  \
iyear region region_txt                   ...
1970  1      North America                ...            0.008475
      2      Central America & Caribbean  ...            0.000000
      3      South America                ...            0.000000
      4      East Asia                    ...            0.000000
      5      Southeast Asia               ...            0.000000
...                                       ...                 ...
2017  8      Western Europe               ...            0.103093
      9      Eastern Europe               ...            0.000000
      10     Middle East & North Africa   ...            0.135714
      11     Sub-Saharan Africa           ...            0.029949
      12     Australasia & Oceania        ...            0.000000

                                          Religious Figures/Institutions_%  \
iyear region region_txt
1970  1      North America                                        0.023305
      2      Central America & Caribbean                          0.000000
      3      South America                                        0.000000
      4      East Asia                                            0.000000
      5      Southeast Asia                                       0.000000
...                                                                    ...
2017  8      Western Europe                                       0.085911
      9      Eastern Europe                                       0.036364
      10     Middle East & North Africa                           0.011111
      11     Sub-Saharan Africa                                   0.019797
      12     Australasia & Oceania                                0.000000

                                          Educational Institution_%  \
iyear region region_txt
1970  1      North America                                 0.125000
      2      Central America & Caribbean                   0.000000
      3      South America                                 0.030769
      4      East Asia                                     0.000000
      5      Southeast Asia                                0.000000
...                                                             ...
2017  8      Western Europe                                0.010309
      9      Eastern Europe                                0.009091
      10     Middle East & North Africa                    0.008730
      11     Sub-Saharan Africa                            0.015736
      12     Australasia & Oceania                         0.250000

                                          Government (Diplomatic)_%  \
iyear region region_txt
1970  1      North America                                 0.029661
      2      Central America & Caribbean                   0.428571
      3      South America                                 0.200000
      4      East Asia                                     0.500000
      5      Southeast Asia                                0.400000
...                                                             ...
2017  8      Western Europe                                0.006873
      9      Eastern Europe                                0.054545
      10     Middle East & North Africa                    0.002646
      11     Sub-Saharan Africa                            0.031472
      12     Australasia & Oceania                         0.000000

                                          Terrorists/Non-State Militia_%  \
iyear region region_txt
1970  1      North America                                      0.004237
      2      Central America & Caribbean                        0.000000
      3      South America                                      0.000000
      4      East Asia                                          0.000000
      5      Southeast Asia                                     0.000000
...                                                                  ...
2017  8      Western Europe                                     0.000000
      9      Eastern Europe                                     0.000000
      10     Middle East & North Africa                         0.024339
      11     Sub-Saharan Africa                                 0.020305
      12     Australasia & Oceania                              0.000000

                                          ran_unk_%  ran_no_%  ran_ok_%  \
iyear region region_txt
1970  1      North America                 0.000000  0.997881  0.002119
      2      Central America & Caribbean   0.000000  0.428571  0.571429
      3      South America                 0.000000  0.784615  0.215385
      4      East Asia                     0.000000  1.000000  0.000000
      5      Southeast Asia                0.000000  1.000000  0.000000
...                                             ...       ...       ...
2017  8      Western Europe                0.000000  1.000000  0.000000
      9      Eastern Europe                0.200000  0.800000  0.000000
      10     Middle East & North Africa    0.024390  0.959350  0.016260
      11     Sub-Saharan Africa            0.043046  0.854305  0.102649
      12     Australasia & Oceania         0.000000  1.000000  0.000000

                                          Population in urban agglomerations of more than 1 million (percentage of total population)_%  \
iyear region region_txt
1970  1      North America                                                        35.309673
      2      Central America & Caribbean                                          16.080029
      3      South America                                                        31.252902
      4      East Asia                                                            51.840003
      5      Southeast Asia                                                       10.974357
...                                                                                     ...
2017  8      Western Europe                                                        0.000000
      9      Eastern Europe                                                        0.000000
      10     Middle East & North Africa                                            0.000000
      11     Sub-Saharan Africa                                                    0.000000
      12     Australasia & Oceania                                                 0.000000

                                          Hospital beds (per 1,000 people)_%
iyear region region_txt
1970  1      North America                                          7.450000
      2      Central America & Caribbean                            2.363600
      3      South America                                          3.539783
      4      East Asia                                             12.500000
      5      Southeast Asia                                         1.189800
...                                                                      ...
2017  8      Western Europe                                         0.000000
      9      Eastern Europe                                         0.000000
      10     Middle East & North Africa                             0.000000
      11     Sub-Saharan Africa                                     0.000000
      12     Australasia & Oceania                                  0.000000

[529 rows x 29 columns]